body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:714px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11870 {
  position:absolute;
  left:31px;
  top:18px;
  width:689px;
  height:714px;
}
#u11871 {
  position:absolute;
  left:2px;
  top:349px;
  width:685px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u11872 {
  position:absolute;
  left:61px;
  top:36px;
  width:157px;
  height:43px;
  font-size:20px;
}
#u11873 {
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u11874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11874 {
  position:absolute;
  left:67px;
  top:122px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u11875 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11876 {
  position:absolute;
  left:140px;
  top:122px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u11877 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u11878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11878 {
  position:absolute;
  left:67px;
  top:172px;
  width:393px;
  height:22px;
  font-size:18px;
}
#u11879 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u11880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:396px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11880 {
  position:absolute;
  left:67px;
  top:292px;
  width:486px;
  height:396px;
  font-size:18px;
}
#u11881 {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  white-space:nowrap;
}
#u11882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11882 {
  position:absolute;
  left:454px;
  top:47px;
  width:253px;
  height:22px;
  font-size:18px;
}
#u11883 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
