body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:891px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10188 {
  position:absolute;
  left:41px;
  top:32px;
  width:600px;
  height:891px;
}
#u10189 {
  position:absolute;
  left:2px;
  top:438px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:58px;
}
#u10190 {
  position:absolute;
  left:73px;
  top:55px;
  width:200px;
  height:58px;
}
#u10191 {
  position:absolute;
  left:2px;
  top:21px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10192 {
  position:absolute;
  left:322px;
  top:91px;
  width:146px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10193 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u10194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u10194 {
  position:absolute;
  left:782px;
  top:202px;
  width:270px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u10195 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u10196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10196 {
  position:absolute;
  left:73px;
  top:224px;
  width:255px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10197 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u10198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10198 {
  position:absolute;
  left:73px;
  top:256px;
  width:162px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10199 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u10200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10200 {
  position:absolute;
  left:73px;
  top:288px;
  width:208px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10201 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u10202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10202 {
  position:absolute;
  left:73px;
  top:320px;
  width:245px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10203 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u10204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u10204 {
  position:absolute;
  left:73px;
  top:177px;
  width:303px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u10205 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  white-space:nowrap;
}
#u10206_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u10206 {
  position:absolute;
  left:557px;
  top:192px;
  width:200px;
  height:5px;
}
#u10207 {
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10208 {
  position:absolute;
  left:782px;
  top:170px;
  width:235px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10209 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u10210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:115px;
}
#u10210 {
  position:absolute;
  left:457px;
  top:206px;
  width:133px;
  height:115px;
}
#u10211 {
  position:absolute;
  left:2px;
  top:50px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:319px;
}
#u10212 {
  position:absolute;
  left:64px;
  top:377px;
  width:493px;
  height:319px;
}
#u10213 {
  position:absolute;
  left:2px;
  top:152px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u10214 {
  position:absolute;
  left:740px;
  top:596px;
  width:540px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u10215 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  white-space:nowrap;
}
#u10216_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u10216 {
  position:absolute;
  left:515px;
  top:586px;
  width:200px;
  height:5px;
}
#u10217 {
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10218 {
  position:absolute;
  left:740px;
  top:564px;
  width:235px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10219 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u10220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:195px;
}
#u10220 {
  position:absolute;
  left:55px;
  top:717px;
  width:554px;
  height:195px;
}
#u10221 {
  position:absolute;
  left:2px;
  top:90px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10222_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u10222 {
  position:absolute;
  left:525px;
  top:779px;
  width:200px;
  height:5px;
}
#u10223 {
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10224 {
  position:absolute;
  left:753px;
  top:774px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10225 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
