body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:891px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10674 {
  position:absolute;
  left:41px;
  top:32px;
  width:600px;
  height:891px;
}
#u10675 {
  position:absolute;
  left:2px;
  top:438px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:58px;
}
#u10676 {
  position:absolute;
  left:73px;
  top:55px;
  width:200px;
  height:58px;
}
#u10677 {
  position:absolute;
  left:2px;
  top:21px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10678 {
  position:absolute;
  left:322px;
  top:91px;
  width:146px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10679 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u10680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u10680 {
  position:absolute;
  left:782px;
  top:202px;
  width:270px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u10681 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  white-space:nowrap;
}
#u10682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10682 {
  position:absolute;
  left:73px;
  top:224px;
  width:255px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10683 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u10684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10684 {
  position:absolute;
  left:73px;
  top:256px;
  width:162px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10685 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u10686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10686 {
  position:absolute;
  left:73px;
  top:288px;
  width:208px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10687 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u10688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10688 {
  position:absolute;
  left:73px;
  top:320px;
  width:245px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u10689 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u10690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u10690 {
  position:absolute;
  left:73px;
  top:177px;
  width:303px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u10691 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  white-space:nowrap;
}
#u10692_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u10692 {
  position:absolute;
  left:557px;
  top:192px;
  width:200px;
  height:5px;
}
#u10693 {
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10694 {
  position:absolute;
  left:782px;
  top:170px;
  width:235px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10695 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u10696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:115px;
}
#u10696 {
  position:absolute;
  left:457px;
  top:206px;
  width:133px;
  height:115px;
}
#u10697 {
  position:absolute;
  left:2px;
  top:50px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:319px;
}
#u10698 {
  position:absolute;
  left:64px;
  top:377px;
  width:493px;
  height:319px;
}
#u10699 {
  position:absolute;
  left:2px;
  top:152px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u10700 {
  position:absolute;
  left:740px;
  top:596px;
  width:540px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
}
#u10701 {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  white-space:nowrap;
}
#u10702_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u10702 {
  position:absolute;
  left:515px;
  top:586px;
  width:200px;
  height:5px;
}
#u10703 {
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10704 {
  position:absolute;
  left:740px;
  top:564px;
  width:235px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10705 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u10706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:195px;
}
#u10706 {
  position:absolute;
  left:55px;
  top:717px;
  width:554px;
  height:195px;
}
#u10707 {
  position:absolute;
  left:2px;
  top:90px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10708_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u10708 {
  position:absolute;
  left:525px;
  top:779px;
  width:200px;
  height:5px;
}
#u10709 {
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10710 {
  position:absolute;
  left:753px;
  top:774px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u10711 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
