body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1855px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:856px;
}
#u5626 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:856px;
}
#u5627 {
  position:absolute;
  left:2px;
  top:420px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:909px;
}
#u5628 {
  position:absolute;
  left:225px;
  top:0px;
  width:1630px;
  height:909px;
}
#u5629 {
  position:absolute;
  left:2px;
  top:446px;
  width:1626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u5630 {
  position:absolute;
  left:238px;
  top:7px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u5631 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5632 {
  position:absolute;
  left:246px;
  top:134px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5633 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5634 {
  position:absolute;
  left:339px;
  top:136px;
  width:100px;
  height:16px;
}
#u5635 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5634_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5636 {
  position:absolute;
  left:407px;
  top:136px;
  width:100px;
  height:16px;
}
#u5637 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5636_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5638 {
  position:absolute;
  left:484px;
  top:136px;
  width:80px;
  height:16px;
}
#u5639 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u5638_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
}
#u5640 {
  position:absolute;
  left:246px;
  top:780px;
  width:78px;
  height:32px;
}
#u5641 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
}
#u5642 {
  position:absolute;
  left:246px;
  top:491px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
}
#u5643 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5644 {
  position:absolute;
  left:246px;
  top:565px;
  width:100px;
  height:25px;
}
#u5644_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5645 {
  position:absolute;
  left:246px;
  top:528px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5646 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5647 {
  position:absolute;
  left:446px;
  top:528px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5648 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5649 {
  position:absolute;
  left:694px;
  top:528px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5650 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5651 {
  position:absolute;
  left:856px;
  top:529px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5652 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5653 {
  position:absolute;
  left:368px;
  top:565px;
  width:211px;
  height:25px;
}
#u5653_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5654 {
  position:absolute;
  left:686px;
  top:565px;
  width:92px;
  height:25px;
}
#u5654_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5655 {
  position:absolute;
  left:823px;
  top:565px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u5656 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u5657 {
  position:absolute;
  left:840px;
  top:565px;
  width:259px;
  height:25px;
}
#u5657_input {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u5658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:2px;
}
#u5658 {
  position:absolute;
  left:246px;
  top:600px;
  width:901px;
  height:1px;
}
#u5659 {
  position:absolute;
  left:2px;
  top:-8px;
  width:897px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5660 {
  position:absolute;
  left:589px;
  top:565px;
  width:54px;
  height:25px;
}
#u5661 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u5662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5662 {
  position:absolute;
  left:1165px;
  top:529px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5663 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5664 {
  position:absolute;
  left:1165px;
  top:569px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5665 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5666 {
  position:absolute;
  left:246px;
  top:620px;
  width:100px;
  height:25px;
}
#u5666_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5667 {
  position:absolute;
  left:368px;
  top:620px;
  width:211px;
  height:25px;
}
#u5667_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5668 {
  position:absolute;
  left:686px;
  top:620px;
  width:92px;
  height:25px;
}
#u5668_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5669 {
  position:absolute;
  left:823px;
  top:620px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u5670 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u5671 {
  position:absolute;
  left:840px;
  top:620px;
  width:259px;
  height:25px;
}
#u5671_input {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u5672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:2px;
}
#u5672 {
  position:absolute;
  left:246px;
  top:655px;
  width:901px;
  height:1px;
}
#u5673 {
  position:absolute;
  left:2px;
  top:-8px;
  width:897px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5674 {
  position:absolute;
  left:589px;
  top:620px;
  width:54px;
  height:25px;
}
#u5675 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u5676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5676 {
  position:absolute;
  left:1165px;
  top:624px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5677 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5678 {
  position:absolute;
  left:246px;
  top:673px;
  width:100px;
  height:25px;
}
#u5678_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5679 {
  position:absolute;
  left:368px;
  top:673px;
  width:211px;
  height:25px;
}
#u5679_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5680 {
  position:absolute;
  left:686px;
  top:673px;
  width:92px;
  height:25px;
}
#u5680_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5681 {
  position:absolute;
  left:823px;
  top:673px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u5682 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u5683 {
  position:absolute;
  left:840px;
  top:673px;
  width:259px;
  height:25px;
}
#u5683_input {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u5684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:2px;
}
#u5684 {
  position:absolute;
  left:246px;
  top:708px;
  width:901px;
  height:1px;
}
#u5685 {
  position:absolute;
  left:2px;
  top:-8px;
  width:897px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5686 {
  position:absolute;
  left:589px;
  top:673px;
  width:54px;
  height:25px;
}
#u5687 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u5688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5688 {
  position:absolute;
  left:1165px;
  top:677px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5689 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5690 {
  position:absolute;
  left:246px;
  top:728px;
  width:100px;
  height:25px;
}
#u5690_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5691 {
  position:absolute;
  left:368px;
  top:728px;
  width:211px;
  height:25px;
}
#u5691_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5692 {
  position:absolute;
  left:686px;
  top:728px;
  width:92px;
  height:25px;
}
#u5692_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5693 {
  position:absolute;
  left:823px;
  top:728px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u5694 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u5695 {
  position:absolute;
  left:840px;
  top:728px;
  width:259px;
  height:25px;
}
#u5695_input {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u5696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:2px;
}
#u5696 {
  position:absolute;
  left:246px;
  top:763px;
  width:901px;
  height:1px;
}
#u5697 {
  position:absolute;
  left:2px;
  top:-8px;
  width:897px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5698 {
  position:absolute;
  left:589px;
  top:728px;
  width:54px;
  height:25px;
}
#u5699 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u5700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5700 {
  position:absolute;
  left:1165px;
  top:732px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5701 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5702 {
  position:absolute;
  left:649px;
  top:99px;
  width:54px;
  height:25px;
}
#u5703 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u5704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5704 {
  position:absolute;
  left:246px;
  top:72px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5705 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5706 {
  position:absolute;
  left:339px;
  top:66px;
  width:300px;
  height:25px;
}
#u5706_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5707 {
  position:absolute;
  left:246px;
  top:174px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5708 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5709 {
  position:absolute;
  left:339px;
  top:174px;
  width:415px;
  height:107px;
}
#u5709_input {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:107px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:2px;
}
#u5710 {
  position:absolute;
  left:246px;
  top:291px;
  width:1120px;
  height:1px;
}
#u5711 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5712 {
  position:absolute;
  left:246px;
  top:310px;
  width:67px;
  height:19px;
  font-size:16px;
}
#u5713 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u5714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5714 {
  position:absolute;
  left:246px;
  top:359px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u5715 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u5716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5716 {
  position:absolute;
  left:246px;
  top:405px;
  width:67px;
  height:19px;
  font-size:16px;
}
#u5717 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u5718 {
  position:absolute;
  left:339px;
  top:304px;
  width:415px;
  height:25px;
}
#u5718_input {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5719 {
  position:absolute;
  left:339px;
  top:356px;
  width:415px;
  height:25px;
}
#u5719_input {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5720 {
  position:absolute;
  left:339px;
  top:395px;
  width:415px;
  height:70px;
}
#u5720_input {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:42px;
}
#u5721 {
  position:absolute;
  left:639px;
  top:822px;
  width:116px;
  height:42px;
}
#u5722 {
  position:absolute;
  left:2px;
  top:13px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:2px;
}
#u5723 {
  position:absolute;
  left:238px;
  top:480px;
  width:1128px;
  height:1px;
}
#u5724 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5725 {
  position:absolute;
  left:246px;
  top:105px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5726 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5727 {
  position:absolute;
  left:339px;
  top:99px;
  width:300px;
  height:25px;
}
#u5727_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
