body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1855px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:856px;
}
#u5606 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:856px;
}
#u5607 {
  position:absolute;
  left:2px;
  top:420px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1630px;
  height:909px;
}
#u5608 {
  position:absolute;
  left:225px;
  top:0px;
  width:1630px;
  height:909px;
}
#u5609 {
  position:absolute;
  left:2px;
  top:446px;
  width:1626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u5610 {
  position:absolute;
  left:238px;
  top:7px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u5611 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5612 {
  position:absolute;
  left:246px;
  top:134px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5613 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5614 {
  position:absolute;
  left:339px;
  top:136px;
  width:100px;
  height:16px;
}
#u5615 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5614_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5616 {
  position:absolute;
  left:407px;
  top:136px;
  width:100px;
  height:16px;
}
#u5617 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5616_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5618 {
  position:absolute;
  left:484px;
  top:136px;
  width:80px;
  height:16px;
}
#u5619 {
  position:absolute;
  left:16px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u5618_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
}
#u5620 {
  position:absolute;
  left:246px;
  top:780px;
  width:78px;
  height:32px;
}
#u5621 {
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
}
#u5622 {
  position:absolute;
  left:246px;
  top:491px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF6600;
}
#u5623 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5624 {
  position:absolute;
  left:246px;
  top:565px;
  width:100px;
  height:25px;
}
#u5624_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5625 {
  position:absolute;
  left:246px;
  top:528px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5626 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5627 {
  position:absolute;
  left:446px;
  top:528px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5628 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5629 {
  position:absolute;
  left:694px;
  top:528px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5630 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5631 {
  position:absolute;
  left:856px;
  top:529px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5632 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5633 {
  position:absolute;
  left:368px;
  top:565px;
  width:211px;
  height:25px;
}
#u5633_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5634 {
  position:absolute;
  left:686px;
  top:565px;
  width:92px;
  height:25px;
}
#u5634_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5635 {
  position:absolute;
  left:823px;
  top:565px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u5636 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u5637 {
  position:absolute;
  left:840px;
  top:565px;
  width:259px;
  height:25px;
}
#u5637_input {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u5638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:2px;
}
#u5638 {
  position:absolute;
  left:246px;
  top:600px;
  width:901px;
  height:1px;
}
#u5639 {
  position:absolute;
  left:2px;
  top:-8px;
  width:897px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5640 {
  position:absolute;
  left:589px;
  top:565px;
  width:54px;
  height:25px;
}
#u5641 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u5642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5642 {
  position:absolute;
  left:1165px;
  top:529px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5643 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5644 {
  position:absolute;
  left:1165px;
  top:569px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5645 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5646 {
  position:absolute;
  left:246px;
  top:620px;
  width:100px;
  height:25px;
}
#u5646_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5647 {
  position:absolute;
  left:368px;
  top:620px;
  width:211px;
  height:25px;
}
#u5647_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5648 {
  position:absolute;
  left:686px;
  top:620px;
  width:92px;
  height:25px;
}
#u5648_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5649 {
  position:absolute;
  left:823px;
  top:620px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u5650 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u5651 {
  position:absolute;
  left:840px;
  top:620px;
  width:259px;
  height:25px;
}
#u5651_input {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u5652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:2px;
}
#u5652 {
  position:absolute;
  left:246px;
  top:655px;
  width:901px;
  height:1px;
}
#u5653 {
  position:absolute;
  left:2px;
  top:-8px;
  width:897px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5654 {
  position:absolute;
  left:589px;
  top:620px;
  width:54px;
  height:25px;
}
#u5655 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u5656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5656 {
  position:absolute;
  left:1165px;
  top:624px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5657 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5658 {
  position:absolute;
  left:246px;
  top:673px;
  width:100px;
  height:25px;
}
#u5658_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5659 {
  position:absolute;
  left:368px;
  top:673px;
  width:211px;
  height:25px;
}
#u5659_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5660 {
  position:absolute;
  left:686px;
  top:673px;
  width:92px;
  height:25px;
}
#u5660_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5661 {
  position:absolute;
  left:823px;
  top:673px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u5662 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u5663 {
  position:absolute;
  left:840px;
  top:673px;
  width:259px;
  height:25px;
}
#u5663_input {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u5664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:2px;
}
#u5664 {
  position:absolute;
  left:246px;
  top:708px;
  width:901px;
  height:1px;
}
#u5665 {
  position:absolute;
  left:2px;
  top:-8px;
  width:897px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5666 {
  position:absolute;
  left:589px;
  top:673px;
  width:54px;
  height:25px;
}
#u5667 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u5668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5668 {
  position:absolute;
  left:1165px;
  top:677px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5669 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5670 {
  position:absolute;
  left:246px;
  top:728px;
  width:100px;
  height:25px;
}
#u5670_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5671 {
  position:absolute;
  left:368px;
  top:728px;
  width:211px;
  height:25px;
}
#u5671_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5672 {
  position:absolute;
  left:686px;
  top:728px;
  width:92px;
  height:25px;
}
#u5672_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5673 {
  position:absolute;
  left:823px;
  top:728px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u5674 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u5675 {
  position:absolute;
  left:840px;
  top:728px;
  width:259px;
  height:25px;
}
#u5675_input {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u5676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:2px;
}
#u5676 {
  position:absolute;
  left:246px;
  top:763px;
  width:901px;
  height:1px;
}
#u5677 {
  position:absolute;
  left:2px;
  top:-8px;
  width:897px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5678 {
  position:absolute;
  left:589px;
  top:728px;
  width:54px;
  height:25px;
}
#u5679 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u5680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5680 {
  position:absolute;
  left:1165px;
  top:732px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u5681 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:25px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5682 {
  position:absolute;
  left:649px;
  top:99px;
  width:54px;
  height:25px;
}
#u5683 {
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u5684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5684 {
  position:absolute;
  left:246px;
  top:72px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5685 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5686 {
  position:absolute;
  left:339px;
  top:66px;
  width:300px;
  height:25px;
}
#u5686_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5687 {
  position:absolute;
  left:246px;
  top:174px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5688 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5689 {
  position:absolute;
  left:339px;
  top:174px;
  width:415px;
  height:107px;
}
#u5689_input {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:107px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:2px;
}
#u5690 {
  position:absolute;
  left:246px;
  top:291px;
  width:1120px;
  height:1px;
}
#u5691 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5692 {
  position:absolute;
  left:246px;
  top:310px;
  width:67px;
  height:19px;
  font-size:16px;
}
#u5693 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u5694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5694 {
  position:absolute;
  left:246px;
  top:359px;
  width:83px;
  height:19px;
  font-size:16px;
}
#u5695 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u5696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5696 {
  position:absolute;
  left:246px;
  top:405px;
  width:67px;
  height:19px;
  font-size:16px;
}
#u5697 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u5698 {
  position:absolute;
  left:339px;
  top:304px;
  width:415px;
  height:25px;
}
#u5698_input {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5699 {
  position:absolute;
  left:339px;
  top:356px;
  width:415px;
  height:25px;
}
#u5699_input {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5700 {
  position:absolute;
  left:339px;
  top:395px;
  width:415px;
  height:70px;
}
#u5700_input {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:42px;
}
#u5701 {
  position:absolute;
  left:639px;
  top:822px;
  width:116px;
  height:42px;
}
#u5702 {
  position:absolute;
  left:2px;
  top:13px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:2px;
}
#u5703 {
  position:absolute;
  left:238px;
  top:480px;
  width:1128px;
  height:1px;
}
#u5704 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5705 {
  position:absolute;
  left:246px;
  top:105px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u5706 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5707 {
  position:absolute;
  left:339px;
  top:99px;
  width:300px;
  height:25px;
}
#u5707_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
