body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:757px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:35px;
}
#u5238 {
  position:absolute;
  left:201px;
  top:10px;
  width:480px;
  height:35px;
}
#u5239 {
  position:absolute;
  left:2px;
  top:10px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u5240 {
  position:absolute;
  left:650px;
  top:17px;
  width:25px;
  height:21px;
  color:#FFFFFF;
}
#u5241 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u5242 {
  position:absolute;
  left:211px;
  top:12px;
  width:107px;
  height:32px;
}
#u5243 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5244 {
  position:absolute;
  left:328px;
  top:17px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5245 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:152px;
}
#u5246 {
  position:absolute;
  left:201px;
  top:45px;
  width:480px;
  height:151px;
}
#u5247 {
  position:absolute;
  left:2px;
  top:68px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5248 {
  position:absolute;
  left:211px;
  top:64px;
  width:289px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5249 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u5250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5250 {
  position:absolute;
  left:211px;
  top:97px;
  width:447px;
  height:48px;
}
#u5251 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  word-wrap:break-word;
}
#u5252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u5252 {
  position:absolute;
  left:296px;
  top:161px;
  width:26px;
  height:27px;
}
#u5253 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u5254 {
  position:absolute;
  left:332px;
  top:172px;
  width:33px;
  height:16px;
  color:#FF9900;
}
#u5255 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5256 {
  position:absolute;
  left:215px;
  top:172px;
  width:101px;
  height:16px;
}
#u5257 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:242px;
}
#u5258 {
  position:absolute;
  left:201px;
  top:196px;
  width:450px;
  height:241px;
}
#u5259 {
  position:absolute;
  left:2px;
  top:112px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:292px;
}
#u5260 {
  position:absolute;
  left:201px;
  top:196px;
  width:480px;
  height:292px;
}
#u5261 {
  position:absolute;
  left:2px;
  top:138px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5262 {
  position:absolute;
  left:201px;
  top:449px;
  width:480px;
  height:39px;
}
#u5263 {
  position:absolute;
  left:2px;
  top:12px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFCC00;
}
#u5264 {
  position:absolute;
  left:290px;
  top:528px;
  width:113px;
  height:22px;
  font-size:18px;
  color:#FFCC00;
}
#u5265 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:155px;
}
#u5266 {
  position:absolute;
  left:201px;
  top:488px;
  width:480px;
  height:155px;
}
#u5267 {
  position:absolute;
  left:2px;
  top:70px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:95px;
}
#u5268 {
  position:absolute;
  left:213px;
  top:494px;
  width:54px;
  height:95px;
}
#u5269 {
  position:absolute;
  left:2px;
  top:40px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF3300;
}
#u5270 {
  position:absolute;
  left:290px;
  top:499px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF3300;
}
#u5271 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5272 {
  position:absolute;
  left:239px;
  top:459px;
  width:272px;
  height:16px;
  color:#FFFFFF;
}
#u5273 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  white-space:nowrap;
}
#u5274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
}
#u5274 {
  position:absolute;
  left:290px;
  top:559px;
  width:137px;
  height:22px;
}
#u5275 {
  position:absolute;
  left:2px;
  top:3px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5276 {
  position:absolute;
  left:290px;
  top:528px;
  width:91px;
  height:16px;
}
#u5277 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5278 {
  position:absolute;
  left:441px;
  top:562px;
  width:59px;
  height:16px;
}
#u5279 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5280 {
  position:absolute;
  left:212px;
  top:593px;
  width:449px;
  height:32px;
}
#u5281 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  word-wrap:break-word;
}
#u5282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u5282 {
  position:absolute;
  left:212px;
  top:460px;
  width:15px;
  height:18px;
}
#u5283 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:228px;
}
#u5284 {
  position:absolute;
  left:201px;
  top:653px;
  width:450px;
  height:227px;
}
#u5285 {
  position:absolute;
  left:2px;
  top:106px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:275px;
}
#u5286 {
  position:absolute;
  left:201px;
  top:653px;
  width:480px;
  height:275px;
}
#u5287 {
  position:absolute;
  left:2px;
  top:130px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5288 {
  position:absolute;
  left:201px;
  top:891px;
  width:480px;
  height:37px;
}
#u5289 {
  position:absolute;
  left:2px;
  top:10px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5290 {
  position:absolute;
  left:239px;
  top:901px;
  width:272px;
  height:16px;
  color:#FFFFFF;
}
#u5291 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  white-space:nowrap;
}
#u5292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u5292 {
  position:absolute;
  left:208px;
  top:870px;
  width:10px;
  height:15px;
}
#u5293 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFCC00;
}
#u5294 {
  position:absolute;
  left:290px;
  top:966px;
  width:113px;
  height:22px;
  font-size:18px;
  color:#FFCC00;
}
#u5295 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:172px;
}
#u5296 {
  position:absolute;
  left:201px;
  top:928px;
  width:480px;
  height:172px;
}
#u5297 {
  position:absolute;
  left:2px;
  top:78px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF3300;
}
#u5298 {
  position:absolute;
  left:290px;
  top:938px;
  width:193px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF3300;
}
#u5299 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u5300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5300 {
  position:absolute;
  left:290px;
  top:966px;
  width:91px;
  height:16px;
}
#u5301 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5302 {
  position:absolute;
  left:212px;
  top:1028px;
  width:449px;
  height:37px;
}
#u5303 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  word-wrap:break-word;
}
#u5304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:85px;
}
#u5304 {
  position:absolute;
  left:212px;
  top:936px;
  width:57px;
  height:85px;
}
#u5305 {
  position:absolute;
  left:2px;
  top:34px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u5306 {
  position:absolute;
  left:290px;
  top:996px;
  width:137px;
  height:21px;
}
#u5307 {
  position:absolute;
  left:2px;
  top:2px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5308 {
  position:absolute;
  left:441px;
  top:998px;
  width:59px;
  height:16px;
}
#u5309 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:461px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5310 {
  position:absolute;
  left:201px;
  top:1400px;
  width:480px;
  height:461px;
}
#u5311 {
  position:absolute;
  left:2px;
  top:222px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5312 {
  position:absolute;
  left:201px;
  top:1368px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5313 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u5314 {
  position:absolute;
  left:210px;
  top:1409px;
  width:74px;
  height:62px;
}
#u5315 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:16px;
}
#u5316 {
  position:absolute;
  left:294px;
  top:1411px;
  width:367px;
  height:16px;
  font-size:14px;
}
#u5317 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u5318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u5318 {
  position:absolute;
  left:210px;
  top:1487px;
  width:74px;
  height:62px;
}
#u5319 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:32px;
}
#u5320 {
  position:absolute;
  left:294px;
  top:1488px;
  width:367px;
  height:32px;
  font-size:14px;
}
#u5321 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u5322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u5322 {
  position:absolute;
  left:210px;
  top:1559px;
  width:74px;
  height:62px;
}
#u5323 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:32px;
}
#u5324 {
  position:absolute;
  left:294px;
  top:1560px;
  width:367px;
  height:32px;
  font-size:14px;
}
#u5325 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u5326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u5326 {
  position:absolute;
  left:210px;
  top:1637px;
  width:74px;
  height:62px;
}
#u5327 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:16px;
}
#u5328 {
  position:absolute;
  left:294px;
  top:1637px;
  width:367px;
  height:16px;
  font-size:14px;
}
#u5329 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u5330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u5330 {
  position:absolute;
  left:210px;
  top:1709px;
  width:74px;
  height:62px;
}
#u5331 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:16px;
}
#u5332 {
  position:absolute;
  left:294px;
  top:1708px;
  width:367px;
  height:16px;
  font-size:14px;
}
#u5333 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u5334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u5334 {
  position:absolute;
  left:210px;
  top:1787px;
  width:74px;
  height:62px;
}
#u5335 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:16px;
}
#u5336 {
  position:absolute;
  left:294px;
  top:1785px;
  width:367px;
  height:16px;
  font-size:14px;
}
#u5337 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u5338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5338 {
  position:absolute;
  left:201px;
  top:1110px;
  width:480px;
  height:240px;
}
#u5339 {
  position:absolute;
  left:2px;
  top:112px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:214px;
}
#u5340 {
  position:absolute;
  left:219px;
  top:1125px;
  width:264px;
  height:214px;
}
#u5341 {
  position:absolute;
  left:2px;
  top:99px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u5342 {
  position:absolute;
  left:461px;
  top:1127px;
  width:155px;
  height:31px;
}
#u5343 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u5344 {
  position:absolute;
  left:472px;
  top:1163px;
  width:155px;
  height:31px;
}
#u5345 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u5346 {
  position:absolute;
  left:472px;
  top:1200px;
  width:155px;
  height:31px;
}
#u5347 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u5348 {
  position:absolute;
  left:486px;
  top:1235px;
  width:155px;
  height:31px;
}
#u5349 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u5350 {
  position:absolute;
  left:461px;
  top:1269px;
  width:155px;
  height:31px;
}
#u5351 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5352 {
  position:absolute;
  left:707px;
  top:388px;
  width:50px;
  height:50px;
  font-size:16px;
}
#u5353 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u5354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5354 {
  position:absolute;
  left:707px;
  top:448px;
  width:50px;
  height:50px;
  font-size:16px;
}
#u5355 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
