body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:757px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:35px;
}
#u5128 {
  position:absolute;
  left:201px;
  top:10px;
  width:480px;
  height:35px;
}
#u5129 {
  position:absolute;
  left:2px;
  top:10px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u5130 {
  position:absolute;
  left:650px;
  top:17px;
  width:25px;
  height:21px;
  color:#FFFFFF;
}
#u5131 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u5132 {
  position:absolute;
  left:211px;
  top:12px;
  width:107px;
  height:32px;
}
#u5133 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5134 {
  position:absolute;
  left:328px;
  top:17px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5135 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:152px;
}
#u5136 {
  position:absolute;
  left:201px;
  top:45px;
  width:480px;
  height:151px;
}
#u5137 {
  position:absolute;
  left:2px;
  top:68px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5138 {
  position:absolute;
  left:211px;
  top:64px;
  width:289px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5139 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u5140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5140 {
  position:absolute;
  left:211px;
  top:97px;
  width:447px;
  height:48px;
}
#u5141 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  word-wrap:break-word;
}
#u5142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u5142 {
  position:absolute;
  left:296px;
  top:161px;
  width:26px;
  height:27px;
}
#u5143 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u5144 {
  position:absolute;
  left:332px;
  top:172px;
  width:33px;
  height:16px;
  color:#FF9900;
}
#u5145 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5146 {
  position:absolute;
  left:215px;
  top:172px;
  width:101px;
  height:16px;
}
#u5147 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u5148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:242px;
}
#u5148 {
  position:absolute;
  left:201px;
  top:196px;
  width:450px;
  height:241px;
}
#u5149 {
  position:absolute;
  left:2px;
  top:112px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:292px;
}
#u5150 {
  position:absolute;
  left:201px;
  top:196px;
  width:480px;
  height:292px;
}
#u5151 {
  position:absolute;
  left:2px;
  top:138px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5152 {
  position:absolute;
  left:201px;
  top:449px;
  width:480px;
  height:39px;
}
#u5153 {
  position:absolute;
  left:2px;
  top:12px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFCC00;
}
#u5154 {
  position:absolute;
  left:290px;
  top:528px;
  width:113px;
  height:22px;
  font-size:18px;
  color:#FFCC00;
}
#u5155 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:155px;
}
#u5156 {
  position:absolute;
  left:201px;
  top:488px;
  width:480px;
  height:155px;
}
#u5157 {
  position:absolute;
  left:2px;
  top:70px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:95px;
}
#u5158 {
  position:absolute;
  left:213px;
  top:494px;
  width:54px;
  height:95px;
}
#u5159 {
  position:absolute;
  left:2px;
  top:40px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF3300;
}
#u5160 {
  position:absolute;
  left:290px;
  top:499px;
  width:145px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF3300;
}
#u5161 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5162 {
  position:absolute;
  left:239px;
  top:459px;
  width:272px;
  height:16px;
  color:#FFFFFF;
}
#u5163 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  white-space:nowrap;
}
#u5164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:22px;
}
#u5164 {
  position:absolute;
  left:290px;
  top:559px;
  width:137px;
  height:22px;
}
#u5165 {
  position:absolute;
  left:2px;
  top:3px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5166 {
  position:absolute;
  left:290px;
  top:528px;
  width:91px;
  height:16px;
}
#u5167 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5168 {
  position:absolute;
  left:441px;
  top:562px;
  width:59px;
  height:16px;
}
#u5169 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5170 {
  position:absolute;
  left:212px;
  top:593px;
  width:449px;
  height:32px;
}
#u5171 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  word-wrap:break-word;
}
#u5172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u5172 {
  position:absolute;
  left:212px;
  top:460px;
  width:15px;
  height:18px;
}
#u5173 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:228px;
}
#u5174 {
  position:absolute;
  left:201px;
  top:653px;
  width:450px;
  height:227px;
}
#u5175 {
  position:absolute;
  left:2px;
  top:106px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:275px;
}
#u5176 {
  position:absolute;
  left:201px;
  top:653px;
  width:480px;
  height:275px;
}
#u5177 {
  position:absolute;
  left:2px;
  top:130px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5178 {
  position:absolute;
  left:201px;
  top:891px;
  width:480px;
  height:37px;
}
#u5179 {
  position:absolute;
  left:2px;
  top:10px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5180 {
  position:absolute;
  left:239px;
  top:901px;
  width:272px;
  height:16px;
  color:#FFFFFF;
}
#u5181 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  white-space:nowrap;
}
#u5182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u5182 {
  position:absolute;
  left:208px;
  top:870px;
  width:10px;
  height:15px;
}
#u5183 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFCC00;
}
#u5184 {
  position:absolute;
  left:290px;
  top:966px;
  width:113px;
  height:22px;
  font-size:18px;
  color:#FFCC00;
}
#u5185 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:172px;
}
#u5186 {
  position:absolute;
  left:201px;
  top:928px;
  width:480px;
  height:172px;
}
#u5187 {
  position:absolute;
  left:2px;
  top:78px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF3300;
}
#u5188 {
  position:absolute;
  left:290px;
  top:938px;
  width:193px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF3300;
}
#u5189 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u5190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5190 {
  position:absolute;
  left:290px;
  top:966px;
  width:91px;
  height:16px;
}
#u5191 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5192 {
  position:absolute;
  left:212px;
  top:1028px;
  width:449px;
  height:37px;
}
#u5193 {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  word-wrap:break-word;
}
#u5194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:85px;
}
#u5194 {
  position:absolute;
  left:212px;
  top:936px;
  width:57px;
  height:85px;
}
#u5195 {
  position:absolute;
  left:2px;
  top:34px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:21px;
}
#u5196 {
  position:absolute;
  left:290px;
  top:996px;
  width:137px;
  height:21px;
}
#u5197 {
  position:absolute;
  left:2px;
  top:2px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5198 {
  position:absolute;
  left:441px;
  top:998px;
  width:59px;
  height:16px;
}
#u5199 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u5200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:461px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5200 {
  position:absolute;
  left:201px;
  top:1400px;
  width:480px;
  height:461px;
}
#u5201 {
  position:absolute;
  left:2px;
  top:222px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5202 {
  position:absolute;
  left:201px;
  top:1368px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5203 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u5204 {
  position:absolute;
  left:210px;
  top:1409px;
  width:74px;
  height:62px;
}
#u5205 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:16px;
}
#u5206 {
  position:absolute;
  left:294px;
  top:1411px;
  width:367px;
  height:16px;
  font-size:14px;
}
#u5207 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u5208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u5208 {
  position:absolute;
  left:210px;
  top:1487px;
  width:74px;
  height:62px;
}
#u5209 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:32px;
}
#u5210 {
  position:absolute;
  left:294px;
  top:1488px;
  width:367px;
  height:32px;
  font-size:14px;
}
#u5211 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u5212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u5212 {
  position:absolute;
  left:210px;
  top:1559px;
  width:74px;
  height:62px;
}
#u5213 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:32px;
}
#u5214 {
  position:absolute;
  left:294px;
  top:1560px;
  width:367px;
  height:32px;
  font-size:14px;
}
#u5215 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u5216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u5216 {
  position:absolute;
  left:210px;
  top:1637px;
  width:74px;
  height:62px;
}
#u5217 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:16px;
}
#u5218 {
  position:absolute;
  left:294px;
  top:1637px;
  width:367px;
  height:16px;
  font-size:14px;
}
#u5219 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u5220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u5220 {
  position:absolute;
  left:210px;
  top:1709px;
  width:74px;
  height:62px;
}
#u5221 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:16px;
}
#u5222 {
  position:absolute;
  left:294px;
  top:1708px;
  width:367px;
  height:16px;
  font-size:14px;
}
#u5223 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u5224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u5224 {
  position:absolute;
  left:210px;
  top:1787px;
  width:74px;
  height:62px;
}
#u5225 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:16px;
}
#u5226 {
  position:absolute;
  left:294px;
  top:1785px;
  width:367px;
  height:16px;
  font-size:14px;
}
#u5227 {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  word-wrap:break-word;
}
#u5228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5228 {
  position:absolute;
  left:201px;
  top:1110px;
  width:480px;
  height:240px;
}
#u5229 {
  position:absolute;
  left:2px;
  top:112px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:214px;
}
#u5230 {
  position:absolute;
  left:219px;
  top:1125px;
  width:264px;
  height:214px;
}
#u5231 {
  position:absolute;
  left:2px;
  top:99px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u5232 {
  position:absolute;
  left:461px;
  top:1127px;
  width:155px;
  height:31px;
}
#u5233 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u5234 {
  position:absolute;
  left:472px;
  top:1163px;
  width:155px;
  height:31px;
}
#u5235 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u5236 {
  position:absolute;
  left:472px;
  top:1200px;
  width:155px;
  height:31px;
}
#u5237 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u5238 {
  position:absolute;
  left:486px;
  top:1235px;
  width:155px;
  height:31px;
}
#u5239 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u5240 {
  position:absolute;
  left:461px;
  top:1269px;
  width:155px;
  height:31px;
}
#u5241 {
  position:absolute;
  left:2px;
  top:8px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5242 {
  position:absolute;
  left:707px;
  top:388px;
  width:50px;
  height:50px;
  font-size:16px;
}
#u5243 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u5244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5244 {
  position:absolute;
  left:707px;
  top:448px;
  width:50px;
  height:50px;
  font-size:16px;
}
#u5245 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
