body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:868px;
}
#u3789 {
  position:absolute;
  left:106px;
  top:38px;
  width:1001px;
  height:868px;
}
#u3790 {
  position:absolute;
  left:2px;
  top:426px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1334px;
  height:40px;
}
#u3791 {
  position:absolute;
  left:-32px;
  top:0px;
  width:1334px;
  height:40px;
}
#u3792 {
  position:absolute;
  left:2px;
  top:12px;
  width:1330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1013px;
  height:26px;
}
#u3793 {
  position:absolute;
  left:100px;
  top:5px;
  width:1013px;
  height:26px;
}
#u3794 {
  position:absolute;
  left:2px;
  top:5px;
  width:1009px;
  visibility:hidden;
  word-wrap:break-word;
}
