body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1126px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:64px;
}
#u7915 {
  position:absolute;
  left:98px;
  top:0px;
  width:1002px;
  height:64px;
}
#u7916 {
  position:absolute;
  left:2px;
  top:24px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7917 {
  position:absolute;
  left:524px;
  top:21px;
  width:161px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7918 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u7919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:48px;
}
#u7919 {
  position:absolute;
  left:98px;
  top:74px;
  width:1012px;
  height:48px;
}
#u7920 {
  position:absolute;
  left:2px;
  top:16px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7921 {
  position:absolute;
  left:106px;
  top:141px;
  width:759px;
  height:80px;
}
#u7922 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  word-wrap:break-word;
}
#u7923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:48px;
}
#u7923 {
  position:absolute;
  left:98px;
  top:256px;
  width:1012px;
  height:48px;
}
#u7924 {
  position:absolute;
  left:2px;
  top:16px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7925 {
  position:absolute;
  left:106px;
  top:323px;
  width:759px;
  height:80px;
}
#u7926 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  word-wrap:break-word;
}
#u7927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:48px;
}
#u7927 {
  position:absolute;
  left:106px;
  top:432px;
  width:1012px;
  height:48px;
}
#u7928 {
  position:absolute;
  left:2px;
  top:16px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7929 {
  position:absolute;
  left:114px;
  top:499px;
  width:759px;
  height:80px;
}
#u7930 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  word-wrap:break-word;
}
#u7931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:48px;
}
#u7931 {
  position:absolute;
  left:114px;
  top:607px;
  width:1012px;
  height:48px;
}
#u7932 {
  position:absolute;
  left:2px;
  top:16px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7933 {
  position:absolute;
  left:122px;
  top:674px;
  width:759px;
  height:80px;
}
#u7934 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  word-wrap:break-word;
}
