body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1126px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1002px;
  height:64px;
}
#u8414 {
  position:absolute;
  left:98px;
  top:0px;
  width:1002px;
  height:64px;
}
#u8415 {
  position:absolute;
  left:2px;
  top:24px;
  width:998px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8416 {
  position:absolute;
  left:524px;
  top:21px;
  width:161px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8417 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u8418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:48px;
}
#u8418 {
  position:absolute;
  left:98px;
  top:74px;
  width:1012px;
  height:48px;
}
#u8419 {
  position:absolute;
  left:2px;
  top:16px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8420 {
  position:absolute;
  left:106px;
  top:141px;
  width:759px;
  height:80px;
}
#u8421 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  word-wrap:break-word;
}
#u8422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:48px;
}
#u8422 {
  position:absolute;
  left:98px;
  top:256px;
  width:1012px;
  height:48px;
}
#u8423 {
  position:absolute;
  left:2px;
  top:16px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8424 {
  position:absolute;
  left:106px;
  top:323px;
  width:759px;
  height:80px;
}
#u8425 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  word-wrap:break-word;
}
#u8426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:48px;
}
#u8426 {
  position:absolute;
  left:106px;
  top:432px;
  width:1012px;
  height:48px;
}
#u8427 {
  position:absolute;
  left:2px;
  top:16px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8428 {
  position:absolute;
  left:114px;
  top:499px;
  width:759px;
  height:80px;
}
#u8429 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  word-wrap:break-word;
}
#u8430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:48px;
}
#u8430 {
  position:absolute;
  left:114px;
  top:607px;
  width:1012px;
  height:48px;
}
#u8431 {
  position:absolute;
  left:2px;
  top:16px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8432 {
  position:absolute;
  left:122px;
  top:674px;
  width:759px;
  height:80px;
}
#u8433 {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  word-wrap:break-word;
}
