body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1308px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1416px;
  height:307px;
}
#u8389 {
  position:absolute;
  left:-54px;
  top:0px;
  width:1416px;
  height:307px;
}
#u8390 {
  position:absolute;
  left:2px;
  top:146px;
  width:1412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:481px;
}
#u8391 {
  position:absolute;
  left:166px;
  top:307px;
  width:706px;
  height:481px;
}
#u8392 {
  position:absolute;
  left:2px;
  top:232px;
  width:702px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:716px;
}
#u8393 {
  position:absolute;
  left:177px;
  top:1554px;
  width:698px;
  height:716px;
}
#u8394 {
  position:absolute;
  left:2px;
  top:350px;
  width:694px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:640px;
}
#u8395 {
  position:absolute;
  left:882px;
  top:329px;
  width:316px;
  height:640px;
}
#u8396 {
  position:absolute;
  left:2px;
  top:312px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:561px;
}
#u8397 {
  position:absolute;
  left:886px;
  top:987px;
  width:309px;
  height:561px;
}
#u8398 {
  position:absolute;
  left:2px;
  top:272px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:753px;
}
#u8399 {
  position:absolute;
  left:174px;
  top:807px;
  width:704px;
  height:753px;
}
#u8400 {
  position:absolute;
  left:2px;
  top:368px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
