body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1308px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1416px;
  height:307px;
}
#u8479 {
  position:absolute;
  left:-54px;
  top:0px;
  width:1416px;
  height:307px;
}
#u8480 {
  position:absolute;
  left:2px;
  top:146px;
  width:1412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:481px;
}
#u8481 {
  position:absolute;
  left:166px;
  top:307px;
  width:706px;
  height:481px;
}
#u8482 {
  position:absolute;
  left:2px;
  top:232px;
  width:702px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:716px;
}
#u8483 {
  position:absolute;
  left:177px;
  top:1554px;
  width:698px;
  height:716px;
}
#u8484 {
  position:absolute;
  left:2px;
  top:350px;
  width:694px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:640px;
}
#u8485 {
  position:absolute;
  left:882px;
  top:329px;
  width:316px;
  height:640px;
}
#u8486 {
  position:absolute;
  left:2px;
  top:312px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:561px;
}
#u8487 {
  position:absolute;
  left:886px;
  top:987px;
  width:309px;
  height:561px;
}
#u8488 {
  position:absolute;
  left:2px;
  top:272px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:753px;
}
#u8489 {
  position:absolute;
  left:174px;
  top:807px;
  width:704px;
  height:753px;
}
#u8490 {
  position:absolute;
  left:2px;
  top:368px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
