body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1241px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:66px;
}
#u5731 {
  position:absolute;
  left:92px;
  top:262px;
  width:1029px;
  height:66px;
}
#u5732 {
  position:absolute;
  left:2px;
  top:25px;
  width:1025px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:753px;
}
#u5733 {
  position:absolute;
  left:103px;
  top:321px;
  width:1007px;
  height:753px;
}
#u5734 {
  position:absolute;
  left:2px;
  top:368px;
  width:1003px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:508px;
}
#u5735 {
  position:absolute;
  left:104px;
  top:885px;
  width:1006px;
  height:508px;
}
#u5736 {
  position:absolute;
  left:2px;
  top:246px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1178px;
  height:179px;
}
#u5737 {
  position:absolute;
  left:63px;
  top:37px;
  width:1178px;
  height:179px;
}
#u5738 {
  position:absolute;
  left:2px;
  top:82px;
  width:1174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:70px;
}
#u5739 {
  position:absolute;
  left:44px;
  top:234px;
  width:62px;
  height:70px;
}
#u5740 {
  position:absolute;
  left:2px;
  top:27px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
