body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1241px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1029px;
  height:66px;
}
#u5079 {
  position:absolute;
  left:92px;
  top:262px;
  width:1029px;
  height:66px;
}
#u5080 {
  position:absolute;
  left:2px;
  top:25px;
  width:1025px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1007px;
  height:753px;
}
#u5081 {
  position:absolute;
  left:103px;
  top:321px;
  width:1007px;
  height:753px;
}
#u5082 {
  position:absolute;
  left:2px;
  top:368px;
  width:1003px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:508px;
}
#u5083 {
  position:absolute;
  left:104px;
  top:885px;
  width:1006px;
  height:508px;
}
#u5084 {
  position:absolute;
  left:2px;
  top:246px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1178px;
  height:179px;
}
#u5085 {
  position:absolute;
  left:63px;
  top:37px;
  width:1178px;
  height:179px;
}
#u5086 {
  position:absolute;
  left:2px;
  top:82px;
  width:1174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:70px;
}
#u5087 {
  position:absolute;
  left:44px;
  top:234px;
  width:62px;
  height:70px;
}
#u5088 {
  position:absolute;
  left:2px;
  top:27px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
