body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1065px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1013px;
  height:934px;
}
#u7683 {
  position:absolute;
  left:50px;
  top:0px;
  width:1013px;
  height:934px;
}
#u7684 {
  position:absolute;
  left:2px;
  top:459px;
  width:1009px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:844px;
}
#u7685 {
  position:absolute;
  left:57px;
  top:931px;
  width:997px;
  height:844px;
}
#u7686 {
  position:absolute;
  left:2px;
  top:414px;
  width:993px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1011px;
  height:149px;
}
#u7687 {
  position:absolute;
  left:54px;
  top:1777px;
  width:1011px;
  height:149px;
}
#u7688 {
  position:absolute;
  left:2px;
  top:66px;
  width:1007px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:557px;
}
#u7689 {
  position:absolute;
  left:54px;
  top:2506px;
  width:1001px;
  height:557px;
}
#u7690 {
  position:absolute;
  left:2px;
  top:270px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:240px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7691 {
  position:absolute;
  left:60px;
  top:1964px;
  width:209px;
  height:240px;
}
#u7692 {
  position:absolute;
  left:2px;
  top:112px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7693 {
  position:absolute;
  left:60px;
  top:1932px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7694 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7695 {
  position:absolute;
  left:431px;
  top:1932px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7696 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:140px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7697 {
  position:absolute;
  left:431px;
  top:1964px;
  width:178px;
  height:140px;
}
#u7698 {
  position:absolute;
  left:2px;
  top:62px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7699 {
  position:absolute;
  left:810px;
  top:1932px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7700 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7701 {
  position:absolute;
  left:60px;
  top:2232px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7702 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7703 {
  position:absolute;
  left:431px;
  top:2264px;
  width:70px;
  height:70px;
}
#u7704 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u7705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7705 {
  position:absolute;
  left:431px;
  top:2232px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7706 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:97px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7707 {
  position:absolute;
  left:810px;
  top:2264px;
  width:240px;
  height:97px;
}
#u7708 {
  position:absolute;
  left:2px;
  top:40px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7709 {
  position:absolute;
  left:810px;
  top:2226px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7710 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7711 {
  position:absolute;
  left:131px;
  top:2345px;
  width:72px;
  height:30px;
}
#u7712 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7713 {
  position:absolute;
  left:202px;
  top:2345px;
  width:72px;
  height:30px;
}
#u7714 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7715 {
  position:absolute;
  left:274px;
  top:2345px;
  width:72px;
  height:30px;
}
#u7716 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7717 {
  position:absolute;
  left:344px;
  top:2345px;
  width:72px;
  height:30px;
}
#u7718 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7719 {
  position:absolute;
  left:131px;
  top:2386px;
  width:72px;
  height:31px;
}
#u7720 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7721 {
  position:absolute;
  left:202px;
  top:2386px;
  width:72px;
  height:31px;
}
#u7722 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7723 {
  position:absolute;
  left:274px;
  top:2386px;
  width:72px;
  height:31px;
}
#u7724 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7725 {
  position:absolute;
  left:344px;
  top:2386px;
  width:72px;
  height:31px;
}
#u7726 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7727 {
  position:absolute;
  left:131px;
  top:2426px;
  width:72px;
  height:30px;
}
#u7728 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7729 {
  position:absolute;
  left:202px;
  top:2426px;
  width:72px;
  height:30px;
}
#u7730 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7731 {
  position:absolute;
  left:274px;
  top:2426px;
  width:72px;
  height:30px;
}
#u7732 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7733 {
  position:absolute;
  left:344px;
  top:2426px;
  width:72px;
  height:30px;
}
#u7734 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7735 {
  position:absolute;
  left:131px;
  top:2464px;
  width:72px;
  height:31px;
}
#u7736 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7737 {
  position:absolute;
  left:202px;
  top:2464px;
  width:72px;
  height:31px;
}
#u7738 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7739 {
  position:absolute;
  left:274px;
  top:2464px;
  width:72px;
  height:31px;
}
#u7740 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7741 {
  position:absolute;
  left:344px;
  top:2464px;
  width:72px;
  height:31px;
}
#u7742 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7743 {
  position:absolute;
  left:828px;
  top:2375px;
  width:220px;
  height:16px;
}
#u7744 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u7745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7745 {
  position:absolute;
  left:817px;
  top:2382px;
  width:5px;
  height:5px;
}
#u7746 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7747 {
  position:absolute;
  left:828px;
  top:2401px;
  width:220px;
  height:16px;
}
#u7748 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u7749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7749 {
  position:absolute;
  left:817px;
  top:2408px;
  width:5px;
  height:5px;
}
#u7750 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7751 {
  position:absolute;
  left:830px;
  top:2427px;
  width:220px;
  height:16px;
}
#u7752 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u7753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7753 {
  position:absolute;
  left:817px;
  top:2434px;
  width:5px;
  height:5px;
}
#u7754 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7755 {
  position:absolute;
  left:830px;
  top:2453px;
  width:220px;
  height:16px;
}
#u7756 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u7757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7757 {
  position:absolute;
  left:817px;
  top:2460px;
  width:5px;
  height:5px;
}
#u7758 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7759 {
  position:absolute;
  left:830px;
  top:2479px;
  width:220px;
  height:16px;
}
#u7760 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u7761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7761 {
  position:absolute;
  left:817px;
  top:2486px;
  width:5px;
  height:5px;
}
#u7762 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:140px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7763 {
  position:absolute;
  left:622px;
  top:1964px;
  width:178px;
  height:140px;
}
#u7764 {
  position:absolute;
  left:2px;
  top:62px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:32px;
}
#u7765 {
  position:absolute;
  left:431px;
  top:2114px;
  width:178px;
  height:32px;
}
#u7766 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u7767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
}
#u7767 {
  position:absolute;
  left:719px;
  top:1932px;
  width:74px;
  height:22px;
}
#u7768 {
  position:absolute;
  left:2px;
  top:3px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:19px;
}
#u7769 {
  position:absolute;
  left:431px;
  top:2186px;
  width:141px;
  height:19px;
  font-size:16px;
}
#u7770 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u7771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:32px;
}
#u7771 {
  position:absolute;
  left:622px;
  top:2114px;
  width:178px;
  height:32px;
}
#u7772 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u7773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:19px;
}
#u7773 {
  position:absolute;
  left:622px;
  top:2186px;
  width:173px;
  height:19px;
  font-size:16px;
}
#u7774 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u7775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:115px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7775 {
  position:absolute;
  left:279px;
  top:1964px;
  width:139px;
  height:115px;
}
#u7776 {
  position:absolute;
  left:2px;
  top:50px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:115px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7777 {
  position:absolute;
  left:279px;
  top:2094px;
  width:139px;
  height:115px;
}
#u7778 {
  position:absolute;
  left:2px;
  top:50px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u7779 {
  position:absolute;
  left:431px;
  top:2156px;
  width:90px;
  height:16px;
}
#u7780 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u7781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u7781 {
  position:absolute;
  left:622px;
  top:2156px;
  width:90px;
  height:16px;
}
#u7782 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u7783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:97px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7783 {
  position:absolute;
  left:810px;
  top:1964px;
  width:240px;
  height:97px;
}
#u7784 {
  position:absolute;
  left:2px;
  top:40px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7785 {
  position:absolute;
  left:828px;
  top:2075px;
  width:178px;
  height:16px;
}
#u7786 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u7787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7787 {
  position:absolute;
  left:817px;
  top:2081px;
  width:5px;
  height:5px;
}
#u7788 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7789 {
  position:absolute;
  left:828px;
  top:2104px;
  width:155px;
  height:16px;
}
#u7790 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u7791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7791 {
  position:absolute;
  left:817px;
  top:2110px;
  width:5px;
  height:5px;
}
#u7792 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7793 {
  position:absolute;
  left:829px;
  top:2132px;
  width:169px;
  height:16px;
}
#u7794 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u7795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7795 {
  position:absolute;
  left:817px;
  top:2138px;
  width:5px;
  height:5px;
}
#u7796 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7797 {
  position:absolute;
  left:829px;
  top:2158px;
  width:155px;
  height:16px;
}
#u7798 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u7799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7799 {
  position:absolute;
  left:817px;
  top:2163px;
  width:5px;
  height:5px;
}
#u7800 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7801 {
  position:absolute;
  left:829px;
  top:2185px;
  width:193px;
  height:16px;
}
#u7802 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u7803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7803 {
  position:absolute;
  left:817px;
  top:2190px;
  width:5px;
  height:5px;
}
#u7804 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u7805 {
  position:absolute;
  left:511px;
  top:2264px;
  width:262px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u7806 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  white-space:nowrap;
}
#u7807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:18px;
}
#u7807 {
  position:absolute;
  left:488px;
  top:2264px;
  width:13px;
  height:18px;
}
#u7808 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7809 {
  position:absolute;
  left:431px;
  top:2343px;
  width:70px;
  height:70px;
}
#u7810 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u7811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u7811 {
  position:absolute;
  left:511px;
  top:2343px;
  width:262px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u7812 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  white-space:nowrap;
}
#u7813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:18px;
}
#u7813 {
  position:absolute;
  left:488px;
  top:2343px;
  width:13px;
  height:18px;
}
#u7814 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7815 {
  position:absolute;
  left:428px;
  top:2428px;
  width:70px;
  height:70px;
}
#u7816 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u7817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u7817 {
  position:absolute;
  left:508px;
  top:2428px;
  width:262px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u7818 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  white-space:nowrap;
}
#u7819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:18px;
}
#u7819 {
  position:absolute;
  left:485px;
  top:2428px;
  width:13px;
  height:18px;
}
#u7820 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:245px;
}
#u7821 {
  position:absolute;
  left:60px;
  top:1964px;
  width:209px;
  height:245px;
}
#u7822 {
  position:absolute;
  left:2px;
  top:114px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7823 {
  position:absolute;
  left:60px;
  top:2182px;
  width:209px;
  height:27px;
  color:#FFFFFF;
}
#u7824 {
  position:absolute;
  left:2px;
  top:6px;
  width:205px;
  word-wrap:break-word;
}
#u7825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:115px;
}
#u7825 {
  position:absolute;
  left:279px;
  top:1964px;
  width:139px;
  height:115px;
}
#u7826 {
  position:absolute;
  left:2px;
  top:50px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7827 {
  position:absolute;
  left:279px;
  top:2052px;
  width:139px;
  height:27px;
  color:#FFFFFF;
}
#u7828 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u7829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:115px;
}
#u7829 {
  position:absolute;
  left:279px;
  top:2094px;
  width:139px;
  height:115px;
}
#u7830 {
  position:absolute;
  left:2px;
  top:50px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7831 {
  position:absolute;
  left:279px;
  top:2182px;
  width:139px;
  height:27px;
  color:#FFFFFF;
}
#u7832 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u7833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:140px;
}
#u7833 {
  position:absolute;
  left:431px;
  top:1964px;
  width:178px;
  height:140px;
}
#u7834 {
  position:absolute;
  left:2px;
  top:62px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:140px;
}
#u7835 {
  position:absolute;
  left:622px;
  top:1964px;
  width:178px;
  height:140px;
}
#u7836 {
  position:absolute;
  left:2px;
  top:62px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:97px;
}
#u7837 {
  position:absolute;
  left:810px;
  top:1964px;
  width:240px;
  height:97px;
}
#u7838 {
  position:absolute;
  left:2px;
  top:40px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7839 {
  position:absolute;
  left:1019px;
  top:2047px;
  width:12px;
  height:12px;
}
#u7840 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7841 {
  position:absolute;
  left:1032px;
  top:2047px;
  width:12px;
  height:12px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7842 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7843 {
  position:absolute;
  left:1005px;
  top:2047px;
  width:12px;
  height:12px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7844 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:97px;
}
#u7845 {
  position:absolute;
  left:810px;
  top:2264px;
  width:240px;
  height:97px;
}
#u7846 {
  position:absolute;
  left:2px;
  top:40px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7847 {
  position:absolute;
  left:1024px;
  top:2342px;
  width:12px;
  height:12px;
}
#u7848 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7849 {
  position:absolute;
  left:1037px;
  top:2342px;
  width:12px;
  height:12px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7850 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7851 {
  position:absolute;
  left:1010px;
  top:2342px;
  width:12px;
  height:12px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7852 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:32px;
}
#u7853 {
  position:absolute;
  left:511px;
  top:2287px;
  width:270px;
  height:32px;
  color:#999999;
}
#u7854 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u7855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:32px;
}
#u7855 {
  position:absolute;
  left:511px;
  top:2365px;
  width:262px;
  height:32px;
  color:#999999;
}
#u7856 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u7857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:32px;
}
#u7857 {
  position:absolute;
  left:508px;
  top:2450px;
  width:273px;
  height:32px;
  color:#999999;
}
#u7858 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u7859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7859 {
  position:absolute;
  left:60px;
  top:2345px;
  width:72px;
  height:30px;
}
#u7860 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7861 {
  position:absolute;
  left:60px;
  top:2386px;
  width:72px;
  height:31px;
}
#u7862 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7863 {
  position:absolute;
  left:60px;
  top:2426px;
  width:72px;
  height:30px;
}
#u7864 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7865 {
  position:absolute;
  left:60px;
  top:2464px;
  width:72px;
  height:31px;
}
#u7866 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7867 {
  position:absolute;
  left:376px;
  top:2238px;
  width:37px;
  height:16px;
}
#u7868 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7869 {
  position:absolute;
  left:738px;
  top:2238px;
  width:37px;
  height:16px;
}
#u7870 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7871 {
  position:absolute;
  left:1013px;
  top:2232px;
  width:37px;
  height:16px;
}
#u7872 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7873 {
  position:absolute;
  left:381px;
  top:1932px;
  width:37px;
  height:16px;
}
#u7874 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:689px;
}
#u7875 {
  position:absolute;
  left:49px;
  top:2591px;
  width:1005px;
  height:689px;
}
#u7876 {
  position:absolute;
  left:2px;
  top:336px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7877 {
  position:absolute;
  left:60px;
  top:2264px;
  width:82px;
  height:70px;
}
#u7878 {
  position:absolute;
  left:2px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
#u7879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7879 {
  position:absolute;
  left:151px;
  top:2264px;
  width:82px;
  height:70px;
}
#u7880 {
  position:absolute;
  left:2px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
#u7881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7881 {
  position:absolute;
  left:242px;
  top:2264px;
  width:82px;
  height:70px;
}
#u7882 {
  position:absolute;
  left:2px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
#u7883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7883 {
  position:absolute;
  left:334px;
  top:2264px;
  width:82px;
  height:70px;
}
#u7884 {
  position:absolute;
  left:2px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
