body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1065px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1013px;
  height:934px;
}
#u7031 {
  position:absolute;
  left:50px;
  top:0px;
  width:1013px;
  height:934px;
}
#u7032 {
  position:absolute;
  left:2px;
  top:459px;
  width:1009px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:997px;
  height:844px;
}
#u7033 {
  position:absolute;
  left:57px;
  top:931px;
  width:997px;
  height:844px;
}
#u7034 {
  position:absolute;
  left:2px;
  top:414px;
  width:993px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1011px;
  height:149px;
}
#u7035 {
  position:absolute;
  left:54px;
  top:1777px;
  width:1011px;
  height:149px;
}
#u7036 {
  position:absolute;
  left:2px;
  top:66px;
  width:1007px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:557px;
}
#u7037 {
  position:absolute;
  left:54px;
  top:2506px;
  width:1001px;
  height:557px;
}
#u7038 {
  position:absolute;
  left:2px;
  top:270px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:240px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7039 {
  position:absolute;
  left:60px;
  top:1964px;
  width:209px;
  height:240px;
}
#u7040 {
  position:absolute;
  left:2px;
  top:112px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7041 {
  position:absolute;
  left:60px;
  top:1932px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7042 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7043 {
  position:absolute;
  left:431px;
  top:1932px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7044 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:140px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7045 {
  position:absolute;
  left:431px;
  top:1964px;
  width:178px;
  height:140px;
}
#u7046 {
  position:absolute;
  left:2px;
  top:62px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7047 {
  position:absolute;
  left:810px;
  top:1932px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7048 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7049 {
  position:absolute;
  left:60px;
  top:2232px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7050 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7051 {
  position:absolute;
  left:431px;
  top:2264px;
  width:70px;
  height:70px;
}
#u7052 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u7053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7053 {
  position:absolute;
  left:431px;
  top:2232px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7054 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:97px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7055 {
  position:absolute;
  left:810px;
  top:2264px;
  width:240px;
  height:97px;
}
#u7056 {
  position:absolute;
  left:2px;
  top:40px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7057 {
  position:absolute;
  left:810px;
  top:2226px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7058 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7059 {
  position:absolute;
  left:131px;
  top:2345px;
  width:72px;
  height:30px;
}
#u7060 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7061 {
  position:absolute;
  left:202px;
  top:2345px;
  width:72px;
  height:30px;
}
#u7062 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7063 {
  position:absolute;
  left:274px;
  top:2345px;
  width:72px;
  height:30px;
}
#u7064 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7065 {
  position:absolute;
  left:344px;
  top:2345px;
  width:72px;
  height:30px;
}
#u7066 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7067 {
  position:absolute;
  left:131px;
  top:2386px;
  width:72px;
  height:31px;
}
#u7068 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7069 {
  position:absolute;
  left:202px;
  top:2386px;
  width:72px;
  height:31px;
}
#u7070 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7071 {
  position:absolute;
  left:274px;
  top:2386px;
  width:72px;
  height:31px;
}
#u7072 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7073 {
  position:absolute;
  left:344px;
  top:2386px;
  width:72px;
  height:31px;
}
#u7074 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7075 {
  position:absolute;
  left:131px;
  top:2426px;
  width:72px;
  height:30px;
}
#u7076 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7077 {
  position:absolute;
  left:202px;
  top:2426px;
  width:72px;
  height:30px;
}
#u7078 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7079 {
  position:absolute;
  left:274px;
  top:2426px;
  width:72px;
  height:30px;
}
#u7080 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7081 {
  position:absolute;
  left:344px;
  top:2426px;
  width:72px;
  height:30px;
}
#u7082 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7083 {
  position:absolute;
  left:131px;
  top:2464px;
  width:72px;
  height:31px;
}
#u7084 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7085 {
  position:absolute;
  left:202px;
  top:2464px;
  width:72px;
  height:31px;
}
#u7086 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7087 {
  position:absolute;
  left:274px;
  top:2464px;
  width:72px;
  height:31px;
}
#u7088 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7089 {
  position:absolute;
  left:344px;
  top:2464px;
  width:72px;
  height:31px;
}
#u7090 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7091 {
  position:absolute;
  left:828px;
  top:2375px;
  width:220px;
  height:16px;
}
#u7092 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u7093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7093 {
  position:absolute;
  left:817px;
  top:2382px;
  width:5px;
  height:5px;
}
#u7094 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7095 {
  position:absolute;
  left:828px;
  top:2401px;
  width:220px;
  height:16px;
}
#u7096 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u7097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7097 {
  position:absolute;
  left:817px;
  top:2408px;
  width:5px;
  height:5px;
}
#u7098 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7099 {
  position:absolute;
  left:830px;
  top:2427px;
  width:220px;
  height:16px;
}
#u7100 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u7101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7101 {
  position:absolute;
  left:817px;
  top:2434px;
  width:5px;
  height:5px;
}
#u7102 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7103 {
  position:absolute;
  left:830px;
  top:2453px;
  width:220px;
  height:16px;
}
#u7104 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u7105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7105 {
  position:absolute;
  left:817px;
  top:2460px;
  width:5px;
  height:5px;
}
#u7106 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7107 {
  position:absolute;
  left:830px;
  top:2479px;
  width:220px;
  height:16px;
}
#u7108 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  white-space:nowrap;
}
#u7109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7109 {
  position:absolute;
  left:817px;
  top:2486px;
  width:5px;
  height:5px;
}
#u7110 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:140px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7111 {
  position:absolute;
  left:622px;
  top:1964px;
  width:178px;
  height:140px;
}
#u7112 {
  position:absolute;
  left:2px;
  top:62px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:32px;
}
#u7113 {
  position:absolute;
  left:431px;
  top:2114px;
  width:178px;
  height:32px;
}
#u7114 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u7115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
}
#u7115 {
  position:absolute;
  left:719px;
  top:1932px;
  width:74px;
  height:22px;
}
#u7116 {
  position:absolute;
  left:2px;
  top:3px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:19px;
}
#u7117 {
  position:absolute;
  left:431px;
  top:2186px;
  width:141px;
  height:19px;
  font-size:16px;
}
#u7118 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u7119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:32px;
}
#u7119 {
  position:absolute;
  left:622px;
  top:2114px;
  width:178px;
  height:32px;
}
#u7120 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u7121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:19px;
}
#u7121 {
  position:absolute;
  left:622px;
  top:2186px;
  width:173px;
  height:19px;
  font-size:16px;
}
#u7122 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u7123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:115px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7123 {
  position:absolute;
  left:279px;
  top:1964px;
  width:139px;
  height:115px;
}
#u7124 {
  position:absolute;
  left:2px;
  top:50px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:115px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7125 {
  position:absolute;
  left:279px;
  top:2094px;
  width:139px;
  height:115px;
}
#u7126 {
  position:absolute;
  left:2px;
  top:50px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u7127 {
  position:absolute;
  left:431px;
  top:2156px;
  width:90px;
  height:16px;
}
#u7128 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u7129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
}
#u7129 {
  position:absolute;
  left:622px;
  top:2156px;
  width:90px;
  height:16px;
}
#u7130 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u7131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:97px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7131 {
  position:absolute;
  left:810px;
  top:1964px;
  width:240px;
  height:97px;
}
#u7132 {
  position:absolute;
  left:2px;
  top:40px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7133 {
  position:absolute;
  left:828px;
  top:2075px;
  width:178px;
  height:16px;
}
#u7134 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u7135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7135 {
  position:absolute;
  left:817px;
  top:2081px;
  width:5px;
  height:5px;
}
#u7136 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7137 {
  position:absolute;
  left:828px;
  top:2104px;
  width:155px;
  height:16px;
}
#u7138 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u7139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7139 {
  position:absolute;
  left:817px;
  top:2110px;
  width:5px;
  height:5px;
}
#u7140 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7141 {
  position:absolute;
  left:829px;
  top:2132px;
  width:169px;
  height:16px;
}
#u7142 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u7143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7143 {
  position:absolute;
  left:817px;
  top:2138px;
  width:5px;
  height:5px;
}
#u7144 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7145 {
  position:absolute;
  left:829px;
  top:2158px;
  width:155px;
  height:16px;
}
#u7146 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u7147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7147 {
  position:absolute;
  left:817px;
  top:2163px;
  width:5px;
  height:5px;
}
#u7148 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7149 {
  position:absolute;
  left:829px;
  top:2185px;
  width:193px;
  height:16px;
}
#u7150 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u7151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7151 {
  position:absolute;
  left:817px;
  top:2190px;
  width:5px;
  height:5px;
}
#u7152 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u7153 {
  position:absolute;
  left:511px;
  top:2264px;
  width:262px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u7154 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  white-space:nowrap;
}
#u7155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:18px;
}
#u7155 {
  position:absolute;
  left:488px;
  top:2264px;
  width:13px;
  height:18px;
}
#u7156 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7157 {
  position:absolute;
  left:431px;
  top:2343px;
  width:70px;
  height:70px;
}
#u7158 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u7159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u7159 {
  position:absolute;
  left:511px;
  top:2343px;
  width:262px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u7160 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  white-space:nowrap;
}
#u7161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:18px;
}
#u7161 {
  position:absolute;
  left:488px;
  top:2343px;
  width:13px;
  height:18px;
}
#u7162 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(102, 204, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7163 {
  position:absolute;
  left:428px;
  top:2428px;
  width:70px;
  height:70px;
}
#u7164 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u7165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u7165 {
  position:absolute;
  left:508px;
  top:2428px;
  width:262px;
  height:17px;
  font-size:15px;
  color:#000000;
}
#u7166 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  white-space:nowrap;
}
#u7167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:18px;
}
#u7167 {
  position:absolute;
  left:485px;
  top:2428px;
  width:13px;
  height:18px;
}
#u7168 {
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:245px;
}
#u7169 {
  position:absolute;
  left:60px;
  top:1964px;
  width:209px;
  height:245px;
}
#u7170 {
  position:absolute;
  left:2px;
  top:114px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7171 {
  position:absolute;
  left:60px;
  top:2182px;
  width:209px;
  height:27px;
  color:#FFFFFF;
}
#u7172 {
  position:absolute;
  left:2px;
  top:6px;
  width:205px;
  word-wrap:break-word;
}
#u7173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:115px;
}
#u7173 {
  position:absolute;
  left:279px;
  top:1964px;
  width:139px;
  height:115px;
}
#u7174 {
  position:absolute;
  left:2px;
  top:50px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7175 {
  position:absolute;
  left:279px;
  top:2052px;
  width:139px;
  height:27px;
  color:#FFFFFF;
}
#u7176 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u7177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:115px;
}
#u7177 {
  position:absolute;
  left:279px;
  top:2094px;
  width:139px;
  height:115px;
}
#u7178 {
  position:absolute;
  left:2px;
  top:50px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7179 {
  position:absolute;
  left:279px;
  top:2182px;
  width:139px;
  height:27px;
  color:#FFFFFF;
}
#u7180 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u7181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:140px;
}
#u7181 {
  position:absolute;
  left:431px;
  top:1964px;
  width:178px;
  height:140px;
}
#u7182 {
  position:absolute;
  left:2px;
  top:62px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:140px;
}
#u7183 {
  position:absolute;
  left:622px;
  top:1964px;
  width:178px;
  height:140px;
}
#u7184 {
  position:absolute;
  left:2px;
  top:62px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:97px;
}
#u7185 {
  position:absolute;
  left:810px;
  top:1964px;
  width:240px;
  height:97px;
}
#u7186 {
  position:absolute;
  left:2px;
  top:40px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7187 {
  position:absolute;
  left:1019px;
  top:2047px;
  width:12px;
  height:12px;
}
#u7188 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7189 {
  position:absolute;
  left:1032px;
  top:2047px;
  width:12px;
  height:12px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7190 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7191 {
  position:absolute;
  left:1005px;
  top:2047px;
  width:12px;
  height:12px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7192 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:97px;
}
#u7193 {
  position:absolute;
  left:810px;
  top:2264px;
  width:240px;
  height:97px;
}
#u7194 {
  position:absolute;
  left:2px;
  top:40px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7195 {
  position:absolute;
  left:1024px;
  top:2342px;
  width:12px;
  height:12px;
}
#u7196 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7197 {
  position:absolute;
  left:1037px;
  top:2342px;
  width:12px;
  height:12px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7198 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7199 {
  position:absolute;
  left:1010px;
  top:2342px;
  width:12px;
  height:12px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7200 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:32px;
}
#u7201 {
  position:absolute;
  left:511px;
  top:2287px;
  width:270px;
  height:32px;
  color:#999999;
}
#u7202 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u7203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:32px;
}
#u7203 {
  position:absolute;
  left:511px;
  top:2365px;
  width:262px;
  height:32px;
  color:#999999;
}
#u7204 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u7205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:32px;
}
#u7205 {
  position:absolute;
  left:508px;
  top:2450px;
  width:273px;
  height:32px;
  color:#999999;
}
#u7206 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u7207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7207 {
  position:absolute;
  left:60px;
  top:2345px;
  width:72px;
  height:30px;
}
#u7208 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7209 {
  position:absolute;
  left:60px;
  top:2386px;
  width:72px;
  height:31px;
}
#u7210 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7211 {
  position:absolute;
  left:60px;
  top:2426px;
  width:72px;
  height:30px;
}
#u7212 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u7213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7213 {
  position:absolute;
  left:60px;
  top:2464px;
  width:72px;
  height:31px;
}
#u7214 {
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u7215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7215 {
  position:absolute;
  left:376px;
  top:2238px;
  width:37px;
  height:16px;
}
#u7216 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7217 {
  position:absolute;
  left:738px;
  top:2238px;
  width:37px;
  height:16px;
}
#u7218 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7219 {
  position:absolute;
  left:1013px;
  top:2232px;
  width:37px;
  height:16px;
}
#u7220 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7221 {
  position:absolute;
  left:381px;
  top:1932px;
  width:37px;
  height:16px;
}
#u7222 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:689px;
}
#u7223 {
  position:absolute;
  left:49px;
  top:2591px;
  width:1005px;
  height:689px;
}
#u7224 {
  position:absolute;
  left:2px;
  top:336px;
  width:1001px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7225 {
  position:absolute;
  left:60px;
  top:2264px;
  width:82px;
  height:70px;
}
#u7226 {
  position:absolute;
  left:2px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
#u7227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7227 {
  position:absolute;
  left:151px;
  top:2264px;
  width:82px;
  height:70px;
}
#u7228 {
  position:absolute;
  left:2px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
#u7229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7229 {
  position:absolute;
  left:242px;
  top:2264px;
  width:82px;
  height:70px;
}
#u7230 {
  position:absolute;
  left:2px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
#u7231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7231 {
  position:absolute;
  left:334px;
  top:2264px;
  width:82px;
  height:70px;
}
#u7232 {
  position:absolute;
  left:2px;
  top:27px;
  width:78px;
  word-wrap:break-word;
}
