body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1575px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13132 {
  position:absolute;
  left:192px;
  top:14px;
  width:990px;
  height:34px;
}
#u13133 {
  position:absolute;
  left:2px;
  top:9px;
  width:986px;
  word-wrap:break-word;
}
#u13134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
}
#u13134 {
  position:absolute;
  left:192px;
  top:293px;
  width:320px;
  height:240px;
}
#u13135 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13136 {
  position:absolute;
  left:192px;
  top:533px;
  width:320px;
  height:170px;
}
#u13137 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13138 {
  position:absolute;
  left:200px;
  top:543px;
  width:300px;
  height:44px;
  font-size:18px;
}
#u13139 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u13140 {
  position:absolute;
  left:200px;
  top:597px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u13141 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13142 {
  position:absolute;
  left:200px;
  top:630px;
  width:300px;
  height:48px;
  color:#999999;
}
#u13143 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:251px;
}
#u13144 {
  position:absolute;
  left:882px;
  top:293px;
  width:300px;
  height:250px;
}
#u13145 {
  position:absolute;
  left:2px;
  top:117px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:461px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13146 {
  position:absolute;
  left:882px;
  top:599px;
  width:300px;
  height:461px;
}
#u13147 {
  position:absolute;
  left:2px;
  top:222px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13148 {
  position:absolute;
  left:882px;
  top:567px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13149 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u13150 {
  position:absolute;
  left:891px;
  top:608px;
  width:74px;
  height:62px;
}
#u13151 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
}
#u13152 {
  position:absolute;
  left:975px;
  top:610px;
  width:190px;
  height:32px;
  font-size:14px;
}
#u13153 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u13154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u13154 {
  position:absolute;
  left:891px;
  top:686px;
  width:74px;
  height:62px;
}
#u13155 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
}
#u13156 {
  position:absolute;
  left:975px;
  top:688px;
  width:190px;
  height:32px;
  font-size:14px;
}
#u13157 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u13158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u13158 {
  position:absolute;
  left:891px;
  top:758px;
  width:74px;
  height:62px;
}
#u13159 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:48px;
}
#u13160 {
  position:absolute;
  left:975px;
  top:760px;
  width:190px;
  height:48px;
  font-size:14px;
}
#u13161 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u13162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u13162 {
  position:absolute;
  left:891px;
  top:836px;
  width:74px;
  height:62px;
}
#u13163 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
}
#u13164 {
  position:absolute;
  left:975px;
  top:838px;
  width:190px;
  height:32px;
  font-size:14px;
}
#u13165 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u13166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u13166 {
  position:absolute;
  left:891px;
  top:908px;
  width:74px;
  height:62px;
}
#u13167 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
}
#u13168 {
  position:absolute;
  left:975px;
  top:910px;
  width:190px;
  height:32px;
  font-size:14px;
}
#u13169 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u13170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u13170 {
  position:absolute;
  left:891px;
  top:986px;
  width:74px;
  height:62px;
}
#u13171 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
}
#u13172 {
  position:absolute;
  left:975px;
  top:988px;
  width:190px;
  height:32px;
  font-size:14px;
}
#u13173 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u13174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1526px;
  height:109px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13174 {
  position:absolute;
  left:49px;
  top:2454px;
  width:1526px;
  height:109px;
}
#u13175 {
  position:absolute;
  left:2px;
  top:38px;
  width:1522px;
  word-wrap:break-word;
}
#u13176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:991px;
  height:215px;
}
#u13176 {
  position:absolute;
  left:192px;
  top:48px;
  width:990px;
  height:214px;
}
#u13177 {
  position:absolute;
  left:2px;
  top:99px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13178 {
  position:absolute;
  left:251px;
  top:81px;
  width:581px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13179 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  white-space:nowrap;
}
#u13180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13180 {
  position:absolute;
  left:1070px;
  top:225px;
  width:101px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13181 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u13182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13182 {
  position:absolute;
  left:251px;
  top:122px;
  width:684px;
  height:32px;
}
#u13183 {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  word-wrap:break-word;
}
#u13184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13184 {
  position:absolute;
  left:841px;
  top:233px;
  width:73px;
  height:16px;
}
#u13185 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13186 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13187 {
  position:absolute;
  left:965px;
  top:233px;
  width:33px;
  height:16px;
}
#u13188 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u13189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u13189 {
  position:absolute;
  left:949px;
  top:236px;
  width:16px;
  height:10px;
}
#u13190 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u13191 {
  position:absolute;
  left:931px;
  top:235px;
  width:1px;
  height:16px;
}
#u13192 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:461px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13193 {
  position:absolute;
  left:882px;
  top:1117px;
  width:300px;
  height:461px;
}
#u13194 {
  position:absolute;
  left:2px;
  top:222px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13195 {
  position:absolute;
  left:882px;
  top:1085px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13196 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u13197 {
  position:absolute;
  left:891px;
  top:1126px;
  width:74px;
  height:62px;
}
#u13198 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
}
#u13199 {
  position:absolute;
  left:975px;
  top:1128px;
  width:190px;
  height:32px;
  font-size:14px;
}
#u13200 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u13201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u13201 {
  position:absolute;
  left:891px;
  top:1204px;
  width:74px;
  height:62px;
}
#u13202 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
}
#u13203 {
  position:absolute;
  left:975px;
  top:1206px;
  width:190px;
  height:32px;
  font-size:14px;
}
#u13204 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u13205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u13205 {
  position:absolute;
  left:891px;
  top:1276px;
  width:74px;
  height:62px;
}
#u13206 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:48px;
}
#u13207 {
  position:absolute;
  left:975px;
  top:1278px;
  width:190px;
  height:48px;
  font-size:14px;
}
#u13208 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u13209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u13209 {
  position:absolute;
  left:891px;
  top:1354px;
  width:74px;
  height:62px;
}
#u13210 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
}
#u13211 {
  position:absolute;
  left:975px;
  top:1356px;
  width:190px;
  height:32px;
  font-size:14px;
}
#u13212 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u13213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u13213 {
  position:absolute;
  left:891px;
  top:1426px;
  width:74px;
  height:62px;
}
#u13214 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
}
#u13215 {
  position:absolute;
  left:975px;
  top:1428px;
  width:190px;
  height:32px;
  font-size:14px;
}
#u13216 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u13217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:63px;
}
#u13217 {
  position:absolute;
  left:891px;
  top:1504px;
  width:74px;
  height:62px;
}
#u13218 {
  position:absolute;
  left:2px;
  top:23px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
}
#u13219 {
  position:absolute;
  left:975px;
  top:1506px;
  width:190px;
  height:32px;
  font-size:14px;
}
#u13220 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u13221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13221 {
  position:absolute;
  left:192px;
  top:293px;
  width:320px;
  height:240px;
}
#u13222 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u13224 {
  position:absolute;
  left:198px;
  top:319px;
  width:57px;
  height:32px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13225 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u13226 {
  position:absolute;
  left:221px;
  top:314px;
  width:18px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u13227 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u13228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13228 {
  position:absolute;
  left:192px;
  top:503px;
  width:320px;
  height:30px;
}
#u13229 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13230 {
  position:absolute;
  left:200px;
  top:507px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13231 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u13232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
}
#u13232 {
  position:absolute;
  left:527px;
  top:293px;
  width:320px;
  height:240px;
}
#u13233 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13234 {
  position:absolute;
  left:527px;
  top:533px;
  width:320px;
  height:170px;
}
#u13235 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13236 {
  position:absolute;
  left:535px;
  top:543px;
  width:300px;
  height:44px;
  font-size:18px;
}
#u13237 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u13238 {
  position:absolute;
  left:535px;
  top:597px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u13239 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13240 {
  position:absolute;
  left:535px;
  top:630px;
  width:300px;
  height:48px;
  color:#999999;
}
#u13241 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13242 {
  position:absolute;
  left:527px;
  top:293px;
  width:320px;
  height:240px;
}
#u13243 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u13245 {
  position:absolute;
  left:533px;
  top:319px;
  width:57px;
  height:32px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13246 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u13247 {
  position:absolute;
  left:556px;
  top:314px;
  width:18px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u13248 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u13249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13249 {
  position:absolute;
  left:527px;
  top:503px;
  width:320px;
  height:30px;
}
#u13250 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13251 {
  position:absolute;
  left:535px;
  top:507px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13252 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u13253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
}
#u13253 {
  position:absolute;
  left:192px;
  top:721px;
  width:320px;
  height:240px;
}
#u13254 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13255 {
  position:absolute;
  left:192px;
  top:961px;
  width:320px;
  height:170px;
}
#u13256 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13257 {
  position:absolute;
  left:200px;
  top:971px;
  width:300px;
  height:44px;
  font-size:18px;
}
#u13258 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u13259 {
  position:absolute;
  left:200px;
  top:1025px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u13260 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13261 {
  position:absolute;
  left:200px;
  top:1058px;
  width:300px;
  height:48px;
  color:#999999;
}
#u13262 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13263 {
  position:absolute;
  left:192px;
  top:721px;
  width:320px;
  height:240px;
}
#u13264 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13265 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u13266 {
  position:absolute;
  left:198px;
  top:747px;
  width:57px;
  height:32px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13267 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u13268 {
  position:absolute;
  left:221px;
  top:742px;
  width:18px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u13269 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u13270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13270 {
  position:absolute;
  left:192px;
  top:931px;
  width:320px;
  height:30px;
}
#u13271 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13272 {
  position:absolute;
  left:200px;
  top:935px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13273 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u13274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
}
#u13274 {
  position:absolute;
  left:527px;
  top:721px;
  width:320px;
  height:240px;
}
#u13275 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13276 {
  position:absolute;
  left:527px;
  top:961px;
  width:320px;
  height:170px;
}
#u13277 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13278 {
  position:absolute;
  left:535px;
  top:971px;
  width:300px;
  height:44px;
  font-size:18px;
}
#u13279 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u13280 {
  position:absolute;
  left:535px;
  top:1025px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u13281 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13282 {
  position:absolute;
  left:535px;
  top:1058px;
  width:300px;
  height:48px;
  color:#999999;
}
#u13283 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13284 {
  position:absolute;
  left:527px;
  top:721px;
  width:320px;
  height:240px;
}
#u13285 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13286 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u13287 {
  position:absolute;
  left:533px;
  top:747px;
  width:57px;
  height:32px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13288 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u13289 {
  position:absolute;
  left:556px;
  top:742px;
  width:18px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u13290 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u13291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13291 {
  position:absolute;
  left:527px;
  top:931px;
  width:320px;
  height:30px;
}
#u13292 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13293 {
  position:absolute;
  left:535px;
  top:935px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13294 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u13295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
}
#u13295 {
  position:absolute;
  left:192px;
  top:1167px;
  width:320px;
  height:240px;
}
#u13296 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13297 {
  position:absolute;
  left:192px;
  top:1407px;
  width:320px;
  height:170px;
}
#u13298 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13299 {
  position:absolute;
  left:200px;
  top:1417px;
  width:300px;
  height:44px;
  font-size:18px;
}
#u13300 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u13301 {
  position:absolute;
  left:200px;
  top:1471px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u13302 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13303 {
  position:absolute;
  left:200px;
  top:1504px;
  width:300px;
  height:48px;
  color:#999999;
}
#u13304 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13305 {
  position:absolute;
  left:192px;
  top:1167px;
  width:320px;
  height:240px;
}
#u13306 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13307 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u13308 {
  position:absolute;
  left:198px;
  top:1193px;
  width:57px;
  height:32px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13309 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u13310 {
  position:absolute;
  left:221px;
  top:1188px;
  width:18px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u13311 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u13312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13312 {
  position:absolute;
  left:192px;
  top:1377px;
  width:320px;
  height:30px;
}
#u13313 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13314 {
  position:absolute;
  left:200px;
  top:1381px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13315 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u13316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
}
#u13316 {
  position:absolute;
  left:527px;
  top:1167px;
  width:320px;
  height:240px;
}
#u13317 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13318 {
  position:absolute;
  left:527px;
  top:1407px;
  width:320px;
  height:170px;
}
#u13319 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13320 {
  position:absolute;
  left:535px;
  top:1417px;
  width:300px;
  height:44px;
  font-size:18px;
}
#u13321 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u13322 {
  position:absolute;
  left:535px;
  top:1471px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u13323 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13324 {
  position:absolute;
  left:535px;
  top:1504px;
  width:300px;
  height:48px;
  color:#999999;
}
#u13325 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13326 {
  position:absolute;
  left:527px;
  top:1167px;
  width:320px;
  height:240px;
}
#u13327 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13328 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u13329 {
  position:absolute;
  left:533px;
  top:1193px;
  width:57px;
  height:32px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13330 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u13331 {
  position:absolute;
  left:556px;
  top:1188px;
  width:18px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u13332 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u13333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13333 {
  position:absolute;
  left:527px;
  top:1377px;
  width:320px;
  height:30px;
}
#u13334 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13335 {
  position:absolute;
  left:535px;
  top:1381px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13336 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u13337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
}
#u13337 {
  position:absolute;
  left:192px;
  top:1608px;
  width:320px;
  height:240px;
}
#u13338 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13339 {
  position:absolute;
  left:192px;
  top:1848px;
  width:320px;
  height:170px;
}
#u13340 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13341 {
  position:absolute;
  left:200px;
  top:1858px;
  width:300px;
  height:44px;
  font-size:18px;
}
#u13342 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u13343 {
  position:absolute;
  left:200px;
  top:1912px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u13344 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13345 {
  position:absolute;
  left:200px;
  top:1945px;
  width:300px;
  height:48px;
  color:#999999;
}
#u13346 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13347 {
  position:absolute;
  left:192px;
  top:1608px;
  width:320px;
  height:240px;
}
#u13348 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13349 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u13350 {
  position:absolute;
  left:198px;
  top:1634px;
  width:57px;
  height:32px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13351 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u13352 {
  position:absolute;
  left:221px;
  top:1629px;
  width:18px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u13353 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u13354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13354 {
  position:absolute;
  left:192px;
  top:1818px;
  width:320px;
  height:30px;
}
#u13355 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13356 {
  position:absolute;
  left:200px;
  top:1822px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13357 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u13358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
}
#u13358 {
  position:absolute;
  left:527px;
  top:1608px;
  width:320px;
  height:240px;
}
#u13359 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13360 {
  position:absolute;
  left:527px;
  top:1848px;
  width:320px;
  height:170px;
}
#u13361 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13362 {
  position:absolute;
  left:535px;
  top:1858px;
  width:300px;
  height:44px;
  font-size:18px;
}
#u13363 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u13364 {
  position:absolute;
  left:535px;
  top:1912px;
  width:99px;
  height:16px;
  color:#FF0000;
}
#u13365 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u13366 {
  position:absolute;
  left:535px;
  top:1945px;
  width:300px;
  height:48px;
  color:#999999;
}
#u13367 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u13368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:240px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13368 {
  position:absolute;
  left:527px;
  top:1608px;
  width:320px;
  height:240px;
}
#u13369 {
  position:absolute;
  left:2px;
  top:112px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13370 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u13371 {
  position:absolute;
  left:533px;
  top:1634px;
  width:57px;
  height:32px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13372 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u13373 {
  position:absolute;
  left:556px;
  top:1629px;
  width:18px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u13374 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u13375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13375 {
  position:absolute;
  left:527px;
  top:1818px;
  width:320px;
  height:30px;
}
#u13376 {
  position:absolute;
  left:2px;
  top:7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13377 {
  position:absolute;
  left:535px;
  top:1822px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u13378 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
