body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1081px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:145px;
}
#u3795 {
  position:absolute;
  left:99px;
  top:33px;
  width:480px;
  height:145px;
}
#u3796 {
  position:absolute;
  left:2px;
  top:64px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:35px;
}
#u3797 {
  position:absolute;
  left:99px;
  top:0px;
  width:480px;
  height:35px;
}
#u3798 {
  position:absolute;
  left:2px;
  top:10px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u3799 {
  position:absolute;
  left:548px;
  top:7px;
  width:25px;
  height:21px;
  color:#FFFFFF;
}
#u3800 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u3801 {
  position:absolute;
  left:109px;
  top:2px;
  width:107px;
  height:32px;
}
#u3802 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:531px;
}
#u3803 {
  position:absolute;
  left:102px;
  top:180px;
  width:480px;
  height:531px;
}
#u3804 {
  position:absolute;
  left:2px;
  top:258px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:531px;
}
#u3805 {
  position:absolute;
  left:101px;
  top:709px;
  width:480px;
  height:531px;
}
#u3806 {
  position:absolute;
  left:2px;
  top:258px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:35px;
}
#u3807 {
  position:absolute;
  left:601px;
  top:-1px;
  width:480px;
  height:35px;
}
#u3808 {
  position:absolute;
  left:2px;
  top:10px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u3809 {
  position:absolute;
  left:1050px;
  top:6px;
  width:25px;
  height:21px;
  color:#FFFFFF;
}
#u3810 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u3811 {
  position:absolute;
  left:611px;
  top:1px;
  width:107px;
  height:32px;
}
#u3812 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3813 {
  position:absolute;
  left:728px;
  top:6px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3814 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:121px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3815 {
  position:absolute;
  left:601px;
  top:36px;
  width:480px;
  height:121px;
}
#u3816 {
  position:absolute;
  left:2px;
  top:52px;
  width:476px;
  word-wrap:break-word;
}
#u3817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3817 {
  position:absolute;
  left:216px;
  top:6px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3818 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:128px;
}
#u3819 {
  position:absolute;
  left:601px;
  top:237px;
  width:480px;
  height:127px;
}
#u3820 {
  position:absolute;
  left:2px;
  top:56px;
  width:476px;
  word-wrap:break-word;
}
#u3821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3821 {
  position:absolute;
  left:601px;
  top:167px;
  width:474px;
  height:48px;
  font-size:14px;
}
#u3822 {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  word-wrap:break-word;
}
#u3823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:128px;
}
#u3823 {
  position:absolute;
  left:601px;
  top:363px;
  width:480px;
  height:127px;
}
#u3824 {
  position:absolute;
  left:2px;
  top:56px;
  width:476px;
  word-wrap:break-word;
}
#u3825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:128px;
}
#u3825 {
  position:absolute;
  left:601px;
  top:489px;
  width:480px;
  height:127px;
}
#u3826 {
  position:absolute;
  left:2px;
  top:56px;
  width:476px;
  word-wrap:break-word;
}
#u3827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:128px;
}
#u3827 {
  position:absolute;
  left:601px;
  top:615px;
  width:480px;
  height:127px;
}
#u3828 {
  position:absolute;
  left:2px;
  top:56px;
  width:476px;
  word-wrap:break-word;
}
#u3829_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:128px;
}
#u3829 {
  position:absolute;
  left:601px;
  top:741px;
  width:480px;
  height:127px;
}
#u3830 {
  position:absolute;
  left:2px;
  top:56px;
  width:476px;
  word-wrap:break-word;
}
