body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:486px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:845px;
}
#u6313 {
  position:absolute;
  left:6px;
  top:35px;
  width:480px;
  height:845px;
}
#u6314 {
  position:absolute;
  left:2px;
  top:414px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:293px;
}
#u6315 {
  position:absolute;
  left:9px;
  top:35px;
  width:475px;
  height:293px;
}
#u6316 {
  position:absolute;
  left:2px;
  top:138px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:542px;
}
#u6317 {
  position:absolute;
  left:9px;
  top:338px;
  width:467px;
  height:542px;
}
#u6318 {
  position:absolute;
  left:2px;
  top:263px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:35px;
}
#u6319 {
  position:absolute;
  left:6px;
  top:0px;
  width:480px;
  height:35px;
}
#u6320 {
  position:absolute;
  left:2px;
  top:10px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u6321 {
  position:absolute;
  left:17px;
  top:2px;
  width:26px;
  height:30px;
}
#u6322 {
  position:absolute;
  left:2px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
}
#u6323 {
  position:absolute;
  left:170px;
  top:0px;
  width:59px;
  height:32px;
}
#u6324 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u6325 {
  position:absolute;
  left:450px;
  top:3px;
  width:26px;
  height:30px;
}
#u6326 {
  position:absolute;
  left:2px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
