body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:486px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:845px;
}
#u5065 {
  position:absolute;
  left:6px;
  top:35px;
  width:480px;
  height:845px;
}
#u5066 {
  position:absolute;
  left:2px;
  top:414px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:293px;
}
#u5067 {
  position:absolute;
  left:9px;
  top:35px;
  width:475px;
  height:293px;
}
#u5068 {
  position:absolute;
  left:2px;
  top:138px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:542px;
}
#u5069 {
  position:absolute;
  left:9px;
  top:338px;
  width:467px;
  height:542px;
}
#u5070 {
  position:absolute;
  left:2px;
  top:263px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:35px;
}
#u5071 {
  position:absolute;
  left:6px;
  top:0px;
  width:480px;
  height:35px;
}
#u5072 {
  position:absolute;
  left:2px;
  top:10px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u5073 {
  position:absolute;
  left:17px;
  top:2px;
  width:26px;
  height:30px;
}
#u5074 {
  position:absolute;
  left:2px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
}
#u5075 {
  position:absolute;
  left:170px;
  top:0px;
  width:59px;
  height:32px;
}
#u5076 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
}
#u5077 {
  position:absolute;
  left:450px;
  top:3px;
  width:26px;
  height:30px;
}
#u5078 {
  position:absolute;
  left:2px;
  top:7px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
