body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1925px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1493px;
  height:206px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2799 {
  position:absolute;
  left:-12px;
  top:40px;
  width:1493px;
  height:206px;
}
#u2800 {
  position:absolute;
  left:2px;
  top:95px;
  width:1489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2801 {
  position:absolute;
  left:384px;
  top:110px;
  width:671px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2802 {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  white-space:nowrap;
}
#u2803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1775px;
  height:40px;
}
#u2803 {
  position:absolute;
  left:-22px;
  top:0px;
  width:1775px;
  height:40px;
}
#u2804 {
  position:absolute;
  left:2px;
  top:12px;
  width:1771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1013px;
  height:26px;
}
#u2805 {
  position:absolute;
  left:311px;
  top:5px;
  width:1013px;
  height:26px;
}
#u2806 {
  position:absolute;
  left:2px;
  top:5px;
  width:1009px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2807 {
  position:absolute;
  left:1439px;
  top:136px;
  width:0px;
  height:0px;
}
#u2807_seg0 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:8px;
  height:7px;
}
#u2807_seg1 {
  position:absolute;
  left:-4px;
  top:-7px;
  width:148px;
  height:8px;
}
#u2807_seg2 {
  position:absolute;
  left:-11px;
  top:-15px;
  width:22px;
  height:22px;
}
#u2807_seg3 {
  position:absolute;
  left:126px;
  top:-14px;
  width:23px;
  height:22px;
}
#u2808 {
  position:absolute;
  left:20px;
  top:-11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2809 {
  position:absolute;
  left:1600px;
  top:124px;
  width:347px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2810 {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  white-space:nowrap;
}
#u2811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u2811 {
  position:absolute;
  left:542px;
  top:506px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u2812 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:2px;
}
#u2813 {
  position:absolute;
  left:542px;
  top:538px;
  width:757px;
  height:1px;
}
#u2814 {
  position:absolute;
  left:2px;
  top:-8px;
  width:753px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:2px;
}
#u2815 {
  position:absolute;
  left:542px;
  top:538px;
  width:88px;
  height:1px;
}
#u2816 {
  position:absolute;
  left:2px;
  top:-8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:120px;
}
#u2817 {
  position:absolute;
  left:542px;
  top:558px;
  width:190px;
  height:120px;
}
#u2818 {
  position:absolute;
  left:2px;
  top:52px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2819 {
  position:absolute;
  left:754px;
  top:555px;
  width:426px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2820 {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  word-wrap:break-word;
}
#u2821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:2px;
}
#u2821 {
  position:absolute;
  left:542px;
  top:700px;
  width:757px;
  height:1px;
}
#u2822 {
  position:absolute;
  left:2px;
  top:-8px;
  width:753px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:120px;
}
#u2823 {
  position:absolute;
  left:542px;
  top:721px;
  width:190px;
  height:120px;
}
#u2824 {
  position:absolute;
  left:2px;
  top:52px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2825 {
  position:absolute;
  left:754px;
  top:718px;
  width:413px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2826 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  word-wrap:break-word;
}
#u2827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:120px;
}
#u2827 {
  position:absolute;
  left:542px;
  top:936px;
  width:190px;
  height:120px;
}
#u2828 {
  position:absolute;
  left:2px;
  top:52px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2829 {
  position:absolute;
  left:754px;
  top:933px;
  width:413px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2830 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  word-wrap:break-word;
}
#u2831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:2px;
}
#u2831 {
  position:absolute;
  left:542px;
  top:1078px;
  width:757px;
  height:1px;
}
#u2832 {
  position:absolute;
  left:2px;
  top:-8px;
  width:753px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:120px;
}
#u2833 {
  position:absolute;
  left:542px;
  top:1099px;
  width:190px;
  height:120px;
}
#u2834 {
  position:absolute;
  left:2px;
  top:52px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2835 {
  position:absolute;
  left:754px;
  top:1096px;
  width:413px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2836 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  word-wrap:break-word;
}
#u2837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:2px;
}
#u2837 {
  position:absolute;
  left:542px;
  top:1241px;
  width:757px;
  height:1px;
}
#u2838 {
  position:absolute;
  left:2px;
  top:-8px;
  width:753px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:624px;
}
#u2840 {
  position:absolute;
  left:318px;
  top:547px;
  width:1px;
  height:623px;
}
#u2841 {
  position:absolute;
  left:2px;
  top:304px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2842 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2843 {
  position:absolute;
  left:314px;
  top:563px;
  width:9px;
  height:9px;
}
#u2844 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2845 {
  position:absolute;
  left:333px;
  top:560px;
  width:173px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2846 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u2847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u2847 {
  position:absolute;
  left:473px;
  top:577px;
  width:33px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u2848 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2850 {
  position:absolute;
  left:314px;
  top:619px;
  width:9px;
  height:9px;
}
#u2851 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2852 {
  position:absolute;
  left:333px;
  top:616px;
  width:173px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2853 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u2854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u2854 {
  position:absolute;
  left:473px;
  top:633px;
  width:33px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u2855 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2856 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2857 {
  position:absolute;
  left:314px;
  top:677px;
  width:9px;
  height:9px;
}
#u2858 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2859 {
  position:absolute;
  left:333px;
  top:674px;
  width:173px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2860 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u2861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u2861 {
  position:absolute;
  left:473px;
  top:691px;
  width:33px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u2862 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2863 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2864 {
  position:absolute;
  left:314px;
  top:736px;
  width:9px;
  height:9px;
}
#u2865 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2866 {
  position:absolute;
  left:333px;
  top:733px;
  width:173px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2867 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u2868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u2868 {
  position:absolute;
  left:473px;
  top:750px;
  width:33px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u2869 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2871 {
  position:absolute;
  left:314px;
  top:798px;
  width:9px;
  height:9px;
}
#u2872 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2873 {
  position:absolute;
  left:333px;
  top:795px;
  width:173px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2874 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u2875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u2875 {
  position:absolute;
  left:473px;
  top:812px;
  width:33px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u2876 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2877 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2878 {
  position:absolute;
  left:314px;
  top:866px;
  width:9px;
  height:9px;
}
#u2879 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2880 {
  position:absolute;
  left:333px;
  top:863px;
  width:173px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2881 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u2882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u2882 {
  position:absolute;
  left:473px;
  top:880px;
  width:33px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u2883 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2885 {
  position:absolute;
  left:314px;
  top:934px;
  width:9px;
  height:9px;
}
#u2886 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2887 {
  position:absolute;
  left:333px;
  top:931px;
  width:173px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2888 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u2889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u2889 {
  position:absolute;
  left:473px;
  top:948px;
  width:33px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u2890 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2891 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2892 {
  position:absolute;
  left:314px;
  top:997px;
  width:9px;
  height:9px;
}
#u2893 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2894 {
  position:absolute;
  left:333px;
  top:994px;
  width:173px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2895 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u2896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u2896 {
  position:absolute;
  left:473px;
  top:1011px;
  width:33px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u2897 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2899 {
  position:absolute;
  left:314px;
  top:1053px;
  width:9px;
  height:9px;
}
#u2900 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2901 {
  position:absolute;
  left:333px;
  top:1050px;
  width:173px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2902 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u2903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u2903 {
  position:absolute;
  left:473px;
  top:1067px;
  width:33px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u2904 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u2906 {
  position:absolute;
  left:314px;
  top:1117px;
  width:9px;
  height:9px;
}
#u2907 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2908 {
  position:absolute;
  left:333px;
  top:1114px;
  width:173px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u2909 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  word-wrap:break-word;
}
#u2910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#CCCCCC;
}
#u2910 {
  position:absolute;
  left:473px;
  top:1131px;
  width:33px;
  height:16px;
  font-size:13px;
  color:#CCCCCC;
}
#u2911 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:2px;
}
#u2912 {
  position:absolute;
  left:318px;
  top:538px;
  width:188px;
  height:1px;
}
#u2913 {
  position:absolute;
  left:2px;
  top:-8px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u2914 {
  position:absolute;
  left:318px;
  top:506px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#CCCCCC;
}
#u2915 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u2917 {
  position:absolute;
  left:535px;
  top:595px;
  width:8px;
  height:6px;
  color:#FFFFFF;
}
#u2918 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2919 {
  position:absolute;
  left:535px;
  top:570px;
  width:52px;
  height:25px;
  color:#FFFFFF;
}
#u2920 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u2921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u2922 {
  position:absolute;
  left:535px;
  top:768px;
  width:8px;
  height:6px;
  color:#FFFFFF;
}
#u2923 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2924 {
  position:absolute;
  left:535px;
  top:743px;
  width:52px;
  height:25px;
  color:#FFFFFF;
}
#u2925 {
  position:absolute;
  left:2px;
  top:4px;
  width:48px;
  word-wrap:break-word;
}
#u2926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2926 {
  position:absolute;
  left:754px;
  top:602px;
  width:545px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2927 {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  word-wrap:break-word;
}
#u2928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2928 {
  position:absolute;
  left:754px;
  top:765px;
  width:545px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2929 {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  word-wrap:break-word;
}
#u2930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2930 {
  position:absolute;
  left:754px;
  top:980px;
  width:545px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2931 {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  word-wrap:break-word;
}
#u2932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2932 {
  position:absolute;
  left:754px;
  top:1143px;
  width:545px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2933 {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  word-wrap:break-word;
}
#u2934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:120px;
}
#u2934 {
  position:absolute;
  left:549px;
  top:1262px;
  width:190px;
  height:120px;
}
#u2935 {
  position:absolute;
  left:2px;
  top:52px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2936 {
  position:absolute;
  left:761px;
  top:1259px;
  width:426px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2937 {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  word-wrap:break-word;
}
#u2938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2px;
}
#u2938 {
  position:absolute;
  left:550px;
  top:1404px;
  width:749px;
  height:1px;
}
#u2939 {
  position:absolute;
  left:2px;
  top:-8px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:120px;
}
#u2940 {
  position:absolute;
  left:549px;
  top:1425px;
  width:190px;
  height:120px;
}
#u2941 {
  position:absolute;
  left:2px;
  top:52px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2942 {
  position:absolute;
  left:761px;
  top:1422px;
  width:413px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2943 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  word-wrap:break-word;
}
#u2944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2px;
}
#u2944 {
  position:absolute;
  left:550px;
  top:1567px;
  width:749px;
  height:1px;
}
#u2945 {
  position:absolute;
  left:2px;
  top:-8px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:120px;
}
#u2946 {
  position:absolute;
  left:549px;
  top:1587px;
  width:190px;
  height:120px;
}
#u2947 {
  position:absolute;
  left:2px;
  top:52px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2948 {
  position:absolute;
  left:761px;
  top:1584px;
  width:413px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2949 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  word-wrap:break-word;
}
#u2950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2px;
}
#u2950 {
  position:absolute;
  left:550px;
  top:1729px;
  width:749px;
  height:1px;
}
#u2951 {
  position:absolute;
  left:2px;
  top:-8px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:120px;
}
#u2952 {
  position:absolute;
  left:549px;
  top:1750px;
  width:190px;
  height:120px;
}
#u2953 {
  position:absolute;
  left:2px;
  top:52px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2954 {
  position:absolute;
  left:761px;
  top:1747px;
  width:413px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2955 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  word-wrap:break-word;
}
#u2956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2px;
}
#u2956 {
  position:absolute;
  left:550px;
  top:1892px;
  width:749px;
  height:1px;
}
#u2957 {
  position:absolute;
  left:2px;
  top:-8px;
  width:745px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2958 {
  position:absolute;
  left:761px;
  top:1306px;
  width:538px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2959 {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  word-wrap:break-word;
}
#u2960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2960 {
  position:absolute;
  left:761px;
  top:1469px;
  width:538px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2961 {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  word-wrap:break-word;
}
#u2962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2962 {
  position:absolute;
  left:761px;
  top:1631px;
  width:538px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2963 {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  word-wrap:break-word;
}
#u2964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2964 {
  position:absolute;
  left:761px;
  top:1794px;
  width:538px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2965 {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  word-wrap:break-word;
}
#u2966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2966 {
  position:absolute;
  left:754px;
  top:1921px;
  width:282px;
  height:40px;
}
#u2967 {
  position:absolute;
  left:2px;
  top:12px;
  width:278px;
  word-wrap:break-word;
}
#u2968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0000;
}
#u2968 {
  position:absolute;
  left:542px;
  top:883px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u2969 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:2px;
}
#u2970 {
  position:absolute;
  left:542px;
  top:915px;
  width:757px;
  height:1px;
}
#u2971 {
  position:absolute;
  left:2px;
  top:-8px;
  width:753px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:2px;
}
#u2972 {
  position:absolute;
  left:542px;
  top:915px;
  width:88px;
  height:1px;
}
#u2973 {
  position:absolute;
  left:2px;
  top:-8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:196px;
}
#u2974 {
  position:absolute;
  left:318px;
  top:283px;
  width:381px;
  height:195px;
}
#u2975 {
  position:absolute;
  left:2px;
  top:90px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.627450980392157);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2977 {
  position:absolute;
  left:319px;
  top:448px;
  width:378px;
  height:29px;
}
#u2978 {
  position:absolute;
  left:2px;
  top:6px;
  width:374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2979 {
  position:absolute;
  left:333px;
  top:454px;
  width:312px;
  height:12px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2980 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u2981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:123px;
}
#u2982 {
  position:absolute;
  left:1213px;
  top:4px;
  width:51px;
  height:123px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2983 {
  position:absolute;
  left:2px;
  top:54px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FFFFFF;
}
#u2984 {
  position:absolute;
  left:1193px;
  top:54px;
  width:88px;
  height:16px;
  font-size:13px;
  color:#FFFFFF;
}
#u2985 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u2986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:195px;
}
#u2986 {
  position:absolute;
  left:717px;
  top:283px;
  width:552px;
  height:195px;
}
#u2987 {
  position:absolute;
  left:2px;
  top:90px;
  width:548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
}
#u2988 {
  position:absolute;
  left:1220px;
  top:302px;
  width:78px;
  height:22px;
  color:#FF3300;
}
#u2989 {
  position:absolute;
  left:2px;
  top:3px;
  width:74px;
  word-wrap:break-word;
}
#u2990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:2px;
}
#u2990 {
  position:absolute;
  left:717px;
  top:329px;
  width:582px;
  height:1px;
}
#u2991 {
  position:absolute;
  left:2px;
  top:-8px;
  width:578px;
  visibility:hidden;
  word-wrap:break-word;
}
