body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2194px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:447px;
}
#u7920 {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:447px;
}
#u7921 {
  position:absolute;
  left:2px;
  top:216px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7922 {
  position:absolute;
  left:98px;
  top:492px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7923 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7924 {
  position:absolute;
  left:98px;
  top:543px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7925 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7926 {
  position:absolute;
  left:98px;
  top:597px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7927 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7928 {
  position:absolute;
  left:98px;
  top:651px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7929 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7930 {
  position:absolute;
  left:98px;
  top:702px;
  width:79px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7931 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u7932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7932 {
  position:absolute;
  left:98px;
  top:753px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7933 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7934 {
  position:absolute;
  left:98px;
  top:808px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7935 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:455px;
}
#u7936 {
  position:absolute;
  left:309px;
  top:447px;
  width:1017px;
  height:455px;
}
#u7937 {
  position:absolute;
  left:2px;
  top:220px;
  width:1013px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:390px;
}
#u7938 {
  position:absolute;
  left:1733px;
  top:240px;
  width:305px;
  height:390px;
}
#u7939 {
  position:absolute;
  left:2px;
  top:187px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:208px;
}
#u7940 {
  position:absolute;
  left:1740px;
  top:9px;
  width:292px;
  height:208px;
}
#u7941 {
  position:absolute;
  left:2px;
  top:96px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:176px;
}
#u7942 {
  position:absolute;
  left:1733px;
  top:653px;
  width:461px;
  height:176px;
}
#u7943 {
  position:absolute;
  left:2px;
  top:80px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
