body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2194px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:447px;
}
#u6769 {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:447px;
}
#u6770 {
  position:absolute;
  left:2px;
  top:216px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6771 {
  position:absolute;
  left:98px;
  top:492px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6772 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6773 {
  position:absolute;
  left:98px;
  top:543px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6774 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6775 {
  position:absolute;
  left:98px;
  top:597px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6776 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6777 {
  position:absolute;
  left:98px;
  top:651px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6778 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6779 {
  position:absolute;
  left:98px;
  top:702px;
  width:79px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6780 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u6781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6781 {
  position:absolute;
  left:98px;
  top:753px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6782 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6783 {
  position:absolute;
  left:98px;
  top:808px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6784 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:455px;
}
#u6785 {
  position:absolute;
  left:309px;
  top:447px;
  width:1017px;
  height:455px;
}
#u6786 {
  position:absolute;
  left:2px;
  top:220px;
  width:1013px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:390px;
}
#u6787 {
  position:absolute;
  left:1733px;
  top:240px;
  width:305px;
  height:390px;
}
#u6788 {
  position:absolute;
  left:2px;
  top:187px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:208px;
}
#u6789 {
  position:absolute;
  left:1740px;
  top:9px;
  width:292px;
  height:208px;
}
#u6790 {
  position:absolute;
  left:2px;
  top:96px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:176px;
}
#u6791 {
  position:absolute;
  left:1733px;
  top:653px;
  width:461px;
  height:176px;
}
#u6792 {
  position:absolute;
  left:2px;
  top:80px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
