body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2194px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:447px;
}
#u6719 {
  position:absolute;
  left:0px;
  top:0px;
  width:1012px;
  height:447px;
}
#u6720 {
  position:absolute;
  left:2px;
  top:216px;
  width:1008px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6721 {
  position:absolute;
  left:98px;
  top:492px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6722 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6723 {
  position:absolute;
  left:98px;
  top:543px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6724 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6725 {
  position:absolute;
  left:98px;
  top:597px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6726 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6727 {
  position:absolute;
  left:98px;
  top:651px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6728 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6729 {
  position:absolute;
  left:98px;
  top:702px;
  width:79px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6730 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u6731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6731 {
  position:absolute;
  left:98px;
  top:753px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6732 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6733 {
  position:absolute;
  left:98px;
  top:808px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6734 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:455px;
}
#u6735 {
  position:absolute;
  left:309px;
  top:447px;
  width:1017px;
  height:455px;
}
#u6736 {
  position:absolute;
  left:2px;
  top:220px;
  width:1013px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:390px;
}
#u6737 {
  position:absolute;
  left:1733px;
  top:240px;
  width:305px;
  height:390px;
}
#u6738 {
  position:absolute;
  left:2px;
  top:187px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:208px;
}
#u6739 {
  position:absolute;
  left:1740px;
  top:9px;
  width:292px;
  height:208px;
}
#u6740 {
  position:absolute;
  left:2px;
  top:96px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:176px;
}
#u6741 {
  position:absolute;
  left:1733px;
  top:653px;
  width:461px;
  height:176px;
}
#u6742 {
  position:absolute;
  left:2px;
  top:80px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
