body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1308px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1416px;
  height:307px;
}
#u8481 {
  position:absolute;
  left:-54px;
  top:0px;
  width:1416px;
  height:307px;
}
#u8482 {
  position:absolute;
  left:2px;
  top:146px;
  width:1412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:481px;
}
#u8483 {
  position:absolute;
  left:166px;
  top:307px;
  width:706px;
  height:481px;
}
#u8484 {
  position:absolute;
  left:2px;
  top:232px;
  width:702px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:714px;
}
#u8485 {
  position:absolute;
  left:171px;
  top:798px;
  width:699px;
  height:714px;
}
#u8486 {
  position:absolute;
  left:2px;
  top:349px;
  width:695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:716px;
}
#u8487 {
  position:absolute;
  left:177px;
  top:1504px;
  width:698px;
  height:716px;
}
#u8488 {
  position:absolute;
  left:2px;
  top:350px;
  width:694px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:430px;
}
#u8489 {
  position:absolute;
  left:902px;
  top:317px;
  width:292px;
  height:430px;
}
#u8490 {
  position:absolute;
  left:2px;
  top:207px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:383px;
}
#u8491 {
  position:absolute;
  left:892px;
  top:761px;
  width:317px;
  height:383px;
}
#u8492 {
  position:absolute;
  left:2px;
  top:184px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:569px;
}
#u8493 {
  position:absolute;
  left:890px;
  top:1154px;
  width:313px;
  height:569px;
}
#u8494 {
  position:absolute;
  left:2px;
  top:276px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
}
#u8495 {
  position:absolute;
  left:902px;
  top:1166px;
  width:71px;
  height:24px;
}
#u8496 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8497 {
  position:absolute;
  left:907px;
  top:1172px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u8498 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
