body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1308px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1416px;
  height:307px;
}
#u7233 {
  position:absolute;
  left:-54px;
  top:0px;
  width:1416px;
  height:307px;
}
#u7234 {
  position:absolute;
  left:2px;
  top:146px;
  width:1412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:481px;
}
#u7235 {
  position:absolute;
  left:166px;
  top:307px;
  width:706px;
  height:481px;
}
#u7236 {
  position:absolute;
  left:2px;
  top:232px;
  width:702px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:714px;
}
#u7237 {
  position:absolute;
  left:171px;
  top:798px;
  width:699px;
  height:714px;
}
#u7238 {
  position:absolute;
  left:2px;
  top:349px;
  width:695px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:716px;
}
#u7239 {
  position:absolute;
  left:177px;
  top:1504px;
  width:698px;
  height:716px;
}
#u7240 {
  position:absolute;
  left:2px;
  top:350px;
  width:694px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:430px;
}
#u7241 {
  position:absolute;
  left:902px;
  top:317px;
  width:292px;
  height:430px;
}
#u7242 {
  position:absolute;
  left:2px;
  top:207px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:383px;
}
#u7243 {
  position:absolute;
  left:892px;
  top:761px;
  width:317px;
  height:383px;
}
#u7244 {
  position:absolute;
  left:2px;
  top:184px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:569px;
}
#u7245 {
  position:absolute;
  left:890px;
  top:1154px;
  width:313px;
  height:569px;
}
#u7246 {
  position:absolute;
  left:2px;
  top:276px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
}
#u7247 {
  position:absolute;
  left:902px;
  top:1166px;
  width:71px;
  height:24px;
}
#u7248 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7249 {
  position:absolute;
  left:907px;
  top:1172px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u7250 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
