body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1533px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1223 {
  position:absolute;
  left:-37px;
  top:1634px;
  width:1578px;
  height:78px;
  overflow:hidden;
}
#u1223_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1578px;
  height:78px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1223_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1857px;
  height:448px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1224 {
  position:absolute;
  left:0px;
  top:0px;
  width:1857px;
  height:448px;
}
#u1225 {
  position:absolute;
  left:2px;
  top:216px;
  width:1853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226 {
  position:absolute;
  left:-17px;
  top:928px;
  width:1578px;
  height:436px;
  overflow:hidden;
}
#u1226_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1578px;
  height:436px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1226_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1851px;
  height:448px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1227 {
  position:absolute;
  left:0px;
  top:0px;
  width:1851px;
  height:448px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:216px;
  width:1847px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229 {
  position:absolute;
  left:0px;
  top:93px;
  width:1570px;
  height:321px;
  overflow:hidden;
}
#u1229_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1570px;
  height:321px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1229_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1852px;
  height:339px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1230 {
  position:absolute;
  left:0px;
  top:0px;
  width:1852px;
  height:339px;
}
#u1231 {
  position:absolute;
  left:2px;
  top:162px;
  width:1848px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232 {
  position:absolute;
  left:0px;
  top:0px;
  width:1570px;
  height:93px;
  overflow:hidden;
}
#u1232_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1570px;
  height:93px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1232_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1839px;
  height:116px;
}
#u1233 {
  position:absolute;
  left:-9px;
  top:0px;
  width:1839px;
  height:116px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:50px;
  width:1835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:66px;
}
#u1235 {
  position:absolute;
  left:101px;
  top:14px;
  width:133px;
  height:66px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:25px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
}
#u1237 {
  position:absolute;
  left:240px;
  top:40px;
  width:196px;
  height:19px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:2px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1239 {
  position:absolute;
  left:910px;
  top:35px;
  width:92px;
  height:31px;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1240 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:168px;
}
#u1241 {
  position:absolute;
  left:113px;
  top:155px;
  width:353px;
  height:168px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:76px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1243 {
  position:absolute;
  left:119px;
  top:431px;
  width:373px;
  height:223px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:104px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1245 {
  position:absolute;
  left:615px;
  top:431px;
  width:373px;
  height:223px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:104px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1247 {
  position:absolute;
  left:119px;
  top:676px;
  width:373px;
  height:223px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:104px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1249 {
  position:absolute;
  left:615px;
  top:676px;
  width:373px;
  height:223px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:104px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:133px;
}
#u1251 {
  position:absolute;
  left:185px;
  top:476px;
  width:242px;
  height:133px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:58px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:136px;
}
#u1253 {
  position:absolute;
  left:687px;
  top:483px;
  width:230px;
  height:136px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:60px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:139px;
}
#u1255 {
  position:absolute;
  left:186px;
  top:718px;
  width:240px;
  height:139px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:62px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:137px;
}
#u1257 {
  position:absolute;
  left:680px;
  top:719px;
  width:237px;
  height:137px;
}
#u1258 {
  position:absolute;
  left:2px;
  top:60px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1259 {
  position:absolute;
  left:517px;
  top:147px;
  width:471px;
  height:44px;
  font-size:18px;
}
#u1260 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  word-wrap:break-word;
}
#u1261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1261 {
  position:absolute;
  left:517px;
  top:244px;
  width:483px;
  height:88px;
  font-size:18px;
}
#u1262 {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:374px;
}
#u1263 {
  position:absolute;
  left:114px;
  top:965px;
  width:447px;
  height:374px;
}
#u1264 {
  position:absolute;
  left:2px;
  top:179px;
  width:443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:331px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1265 {
  position:absolute;
  left:578px;
  top:1008px;
  width:409px;
  height:331px;
}
#u1266 {
  position:absolute;
  left:2px;
  top:158px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1267 {
  position:absolute;
  left:612px;
  top:1054px;
  width:25px;
  height:25px;
}
#u1268 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1269 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1270 {
  position:absolute;
  left:612px;
  top:1137px;
  width:25px;
  height:25px;
}
#u1271 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1272 {
  position:absolute;
  left:647px;
  top:1138px;
  width:135px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1273 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1274 {
  position:absolute;
  left:647px;
  top:1170px;
  width:148px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1275 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u1276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1276 {
  position:absolute;
  left:647px;
  top:1055px;
  width:113px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1277 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1278 {
  position:absolute;
  left:647px;
  top:1088px;
  width:113px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1279 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1280 {
  position:absolute;
  left:579px;
  top:1295px;
  width:407px;
  height:44px;
}
#u1281 {
  position:absolute;
  left:2px;
  top:14px;
  width:403px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1283 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u1284 {
  position:absolute;
  left:612px;
  top:1228px;
  width:25px;
  height:21px;
}
#u1285 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1286 {
  position:absolute;
  left:647px;
  top:1227px;
  width:84px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1287 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u1288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1288 {
  position:absolute;
  left:749px;
  top:1228px;
  width:20px;
  height:20px;
}
#u1289 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1290 {
  position:absolute;
  left:615px;
  top:1306px;
  width:133px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1291 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u1292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1292 {
  position:absolute;
  left:830px;
  top:1306px;
  width:96px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1293 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u1294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u1294 {
  position:absolute;
  left:449px;
  top:1389px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u1295 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u1296 {
  position:absolute;
  left:205px;
  top:1463px;
  width:94px;
  height:94px;
}
#u1297 {
  position:absolute;
  left:2px;
  top:39px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u1298 {
  position:absolute;
  left:461px;
  top:1463px;
  width:94px;
  height:94px;
}
#u1299 {
  position:absolute;
  left:2px;
  top:39px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u1300 {
  position:absolute;
  left:666px;
  top:1463px;
  width:94px;
  height:94px;
}
#u1301 {
  position:absolute;
  left:2px;
  top:39px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u1302 {
  position:absolute;
  left:206px;
  top:1567px;
  width:92px;
  height:16px;
  color:#999999;
}
#u1303 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u1304 {
  position:absolute;
  left:466px;
  top:1567px;
  width:79px;
  height:16px;
  color:#999999;
}
#u1305 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u1306 {
  position:absolute;
  left:683px;
  top:1567px;
  width:66px;
  height:16px;
  color:#999999;
}
#u1307 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1308 {
  position:absolute;
  left:313px;
  top:1665px;
  width:474px;
  height:16px;
}
#u1309 {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  white-space:nowrap;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1310 {
  position:absolute;
  left:209px;
  top:1593px;
  width:85px;
  height:16px;
}
#u1311 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1312 {
  position:absolute;
  left:463px;
  top:1593px;
  width:85px;
  height:16px;
}
#u1313 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1314 {
  position:absolute;
  left:674px;
  top:1593px;
  width:85px;
  height:16px;
}
#u1315 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
