body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:379px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u12109 {
  position:absolute;
  left:79px;
  top:42px;
  width:300px;
  height:80px;
}
#u12110 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
