body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1081px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:35px;
}
#u5728 {
  position:absolute;
  left:99px;
  top:0px;
  width:480px;
  height:35px;
}
#u5729 {
  position:absolute;
  left:2px;
  top:10px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u5730 {
  position:absolute;
  left:548px;
  top:7px;
  width:25px;
  height:21px;
  color:#FFFFFF;
}
#u5731 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u5732 {
  position:absolute;
  left:109px;
  top:2px;
  width:107px;
  height:32px;
}
#u5733 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5734 {
  position:absolute;
  left:226px;
  top:7px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5735 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:148px;
}
#u5736 {
  position:absolute;
  left:99px;
  top:36px;
  width:480px;
  height:148px;
}
#u5737 {
  position:absolute;
  left:2px;
  top:66px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:438px;
}
#u5738 {
  position:absolute;
  left:107px;
  top:194px;
  width:470px;
  height:438px;
}
#u5739 {
  position:absolute;
  left:2px;
  top:211px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:200px;
}
#u5740 {
  position:absolute;
  left:109px;
  top:632px;
  width:470px;
  height:200px;
}
#u5741 {
  position:absolute;
  left:2px;
  top:92px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:35px;
}
#u5742 {
  position:absolute;
  left:601px;
  top:-1px;
  width:480px;
  height:35px;
}
#u5743 {
  position:absolute;
  left:2px;
  top:10px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u5744 {
  position:absolute;
  left:1050px;
  top:6px;
  width:25px;
  height:21px;
  color:#FFFFFF;
}
#u5745 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:32px;
}
#u5746 {
  position:absolute;
  left:611px;
  top:1px;
  width:107px;
  height:32px;
}
#u5747 {
  position:absolute;
  left:2px;
  top:8px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5748 {
  position:absolute;
  left:728px;
  top:6px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5749 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:551px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5750 {
  position:absolute;
  left:601px;
  top:36px;
  width:480px;
  height:551px;
}
#u5751 {
  position:absolute;
  left:2px;
  top:268px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5752 {
  position:absolute;
  left:983px;
  top:36px;
  width:98px;
  height:192px;
}
#u5753 {
  position:absolute;
  left:2px;
  top:88px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5754 {
  position:absolute;
  left:993px;
  top:44px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5755 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5756 {
  position:absolute;
  left:993px;
  top:73px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5757 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5758 {
  position:absolute;
  left:993px;
  top:102px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5759 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5760 {
  position:absolute;
  left:993px;
  top:131px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5761 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5762 {
  position:absolute;
  left:993px;
  top:165px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5763 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5764_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5764 {
  position:absolute;
  left:993px;
  top:194px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5765 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
