body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1170px;
}
#u1561 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1170px;
}
#u1562 {
  position:absolute;
  left:2px;
  top:577px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366FF;
}
#u1563 {
  position:absolute;
  left:72px;
  top:1054px;
  width:85px;
  height:16px;
  color:#3366FF;
}
#u1564 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:126px;
}
#u1565 {
  position:absolute;
  left:40px;
  top:899px;
  width:289px;
  height:126px;
}
#u1566 {
  position:absolute;
  left:2px;
  top:55px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:99px;
}
#u1567 {
  position:absolute;
  left:65px;
  top:920px;
  width:104px;
  height:99px;
}
#u1568 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:99px;
}
#u1569 {
  position:absolute;
  left:209px;
  top:922px;
  width:106px;
  height:99px;
}
#u1570 {
  position:absolute;
  left:2px;
  top:42px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366FF;
}
#u1571 {
  position:absolute;
  left:222px;
  top:1054px;
  width:85px;
  height:16px;
  color:#3366FF;
}
#u1572 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
