body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1170px;
}
#u2517 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1170px;
}
#u2518 {
  position:absolute;
  left:2px;
  top:577px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366FF;
}
#u2519 {
  position:absolute;
  left:72px;
  top:1054px;
  width:85px;
  height:16px;
  color:#3366FF;
}
#u2520 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:126px;
}
#u2521 {
  position:absolute;
  left:40px;
  top:899px;
  width:289px;
  height:126px;
}
#u2522 {
  position:absolute;
  left:2px;
  top:55px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:99px;
}
#u2523 {
  position:absolute;
  left:65px;
  top:920px;
  width:104px;
  height:99px;
}
#u2524 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:99px;
}
#u2525 {
  position:absolute;
  left:209px;
  top:922px;
  width:106px;
  height:99px;
}
#u2526 {
  position:absolute;
  left:2px;
  top:42px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#3366FF;
}
#u2527 {
  position:absolute;
  left:222px;
  top:1054px;
  width:85px;
  height:16px;
  color:#3366FF;
}
#u2528 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
