body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1533px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2118 {
  position:absolute;
  left:-37px;
  top:1634px;
  width:1578px;
  height:78px;
  overflow:hidden;
}
#u2118_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1578px;
  height:78px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2118_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1857px;
  height:448px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2119 {
  position:absolute;
  left:0px;
  top:0px;
  width:1857px;
  height:448px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:216px;
  width:1853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121 {
  position:absolute;
  left:-17px;
  top:928px;
  width:1578px;
  height:436px;
  overflow:hidden;
}
#u2121_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1578px;
  height:436px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2121_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1851px;
  height:448px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2122 {
  position:absolute;
  left:0px;
  top:0px;
  width:1851px;
  height:448px;
}
#u2123 {
  position:absolute;
  left:2px;
  top:216px;
  width:1847px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124 {
  position:absolute;
  left:0px;
  top:93px;
  width:1570px;
  height:321px;
  overflow:hidden;
}
#u2124_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1570px;
  height:321px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2124_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1852px;
  height:339px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:1852px;
  height:339px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:162px;
  width:1848px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:1570px;
  height:93px;
  overflow:hidden;
}
#u2127_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1570px;
  height:93px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2127_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1839px;
  height:116px;
}
#u2128 {
  position:absolute;
  left:-9px;
  top:0px;
  width:1839px;
  height:116px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:50px;
  width:1835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:66px;
}
#u2130 {
  position:absolute;
  left:101px;
  top:14px;
  width:133px;
  height:66px;
}
#u2131 {
  position:absolute;
  left:2px;
  top:25px;
  width:129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:19px;
}
#u2132 {
  position:absolute;
  left:240px;
  top:40px;
  width:196px;
  height:19px;
}
#u2133 {
  position:absolute;
  left:2px;
  top:2px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2134 {
  position:absolute;
  left:910px;
  top:35px;
  width:92px;
  height:31px;
  font-family:'Britannic Bold', 'Britannic';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2135 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:168px;
}
#u2136 {
  position:absolute;
  left:113px;
  top:155px;
  width:353px;
  height:168px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:76px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2138 {
  position:absolute;
  left:119px;
  top:431px;
  width:373px;
  height:223px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:104px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2140 {
  position:absolute;
  left:615px;
  top:431px;
  width:373px;
  height:223px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:104px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2142 {
  position:absolute;
  left:119px;
  top:676px;
  width:373px;
  height:223px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:104px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:223px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2144 {
  position:absolute;
  left:615px;
  top:676px;
  width:373px;
  height:223px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:104px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:133px;
}
#u2146 {
  position:absolute;
  left:185px;
  top:476px;
  width:242px;
  height:133px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:58px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:136px;
}
#u2148 {
  position:absolute;
  left:687px;
  top:483px;
  width:230px;
  height:136px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:60px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:139px;
}
#u2150 {
  position:absolute;
  left:186px;
  top:718px;
  width:240px;
  height:139px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:62px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:137px;
}
#u2152 {
  position:absolute;
  left:680px;
  top:719px;
  width:237px;
  height:137px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:60px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2154 {
  position:absolute;
  left:517px;
  top:147px;
  width:471px;
  height:44px;
  font-size:18px;
}
#u2155 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2156 {
  position:absolute;
  left:517px;
  top:244px;
  width:483px;
  height:88px;
  font-size:18px;
}
#u2157 {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  word-wrap:break-word;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:374px;
}
#u2158 {
  position:absolute;
  left:114px;
  top:965px;
  width:447px;
  height:374px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:179px;
  width:443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:331px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2160 {
  position:absolute;
  left:578px;
  top:1008px;
  width:409px;
  height:331px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:158px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2162 {
  position:absolute;
  left:612px;
  top:1054px;
  width:25px;
  height:25px;
}
#u2163 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2165 {
  position:absolute;
  left:612px;
  top:1137px;
  width:25px;
  height:25px;
}
#u2166 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2167 {
  position:absolute;
  left:647px;
  top:1138px;
  width:135px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2168 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2169 {
  position:absolute;
  left:647px;
  top:1170px;
  width:148px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u2171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2171 {
  position:absolute;
  left:647px;
  top:1055px;
  width:113px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2172 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2173 {
  position:absolute;
  left:647px;
  top:1088px;
  width:113px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2174 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2175 {
  position:absolute;
  left:579px;
  top:1295px;
  width:407px;
  height:44px;
}
#u2176 {
  position:absolute;
  left:2px;
  top:14px;
  width:403px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u2179 {
  position:absolute;
  left:612px;
  top:1228px;
  width:25px;
  height:21px;
}
#u2180 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2181 {
  position:absolute;
  left:647px;
  top:1227px;
  width:84px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2182 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u2183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2183 {
  position:absolute;
  left:749px;
  top:1228px;
  width:20px;
  height:20px;
}
#u2184 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2185 {
  position:absolute;
  left:615px;
  top:1306px;
  width:133px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2186 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u2187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2187 {
  position:absolute;
  left:830px;
  top:1306px;
  width:96px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2188 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u2189 {
  position:absolute;
  left:449px;
  top:1389px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u2190 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u2191 {
  position:absolute;
  left:205px;
  top:1463px;
  width:94px;
  height:94px;
}
#u2192 {
  position:absolute;
  left:2px;
  top:39px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u2193 {
  position:absolute;
  left:461px;
  top:1463px;
  width:94px;
  height:94px;
}
#u2194 {
  position:absolute;
  left:2px;
  top:39px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u2195 {
  position:absolute;
  left:666px;
  top:1463px;
  width:94px;
  height:94px;
}
#u2196 {
  position:absolute;
  left:2px;
  top:39px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u2197 {
  position:absolute;
  left:206px;
  top:1567px;
  width:92px;
  height:16px;
  color:#999999;
}
#u2198 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u2199 {
  position:absolute;
  left:466px;
  top:1567px;
  width:79px;
  height:16px;
  color:#999999;
}
#u2200 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u2201 {
  position:absolute;
  left:683px;
  top:1567px;
  width:66px;
  height:16px;
  color:#999999;
}
#u2202 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2203 {
  position:absolute;
  left:313px;
  top:1665px;
  width:474px;
  height:16px;
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  white-space:nowrap;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2205 {
  position:absolute;
  left:209px;
  top:1593px;
  width:85px;
  height:16px;
}
#u2206 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2207 {
  position:absolute;
  left:463px;
  top:1593px;
  width:85px;
  height:16px;
}
#u2208 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2209 {
  position:absolute;
  left:674px;
  top:1593px;
  width:85px;
  height:16px;
}
#u2210 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
